<app-error-message [error]="error"></app-error-message>
<div class="ui text loader active" *ngIf="loadingStatus">Loading status...</div>

<div *ngIf="status" class="ui grid centered stackable">
  <div class="column ten wide">

    <div *ngIf="task.is_team_task">
      <div class="ui message warning icon" *ngIf="!status.team_association">
        <i class="icon user"></i>
        <div class="content">
          <div class="header">You are not in any team now!</div>
          <p>Please join an existing team or create a new team first.</p>
        </div>
      </div>
      <div *ngIf="status.team_association">
        <div class="ui message warning icon" *ngIf="!status.team_association.is_user_agreed || !status.team_association.is_creator_agreed; else memberMessages">
          <i class="icon users"></i>
          <div class="content">
            <div class="header">Your membership in team "{{status.team_association.team.name}}" has not been confirmed</div>
            <p *ngIf="status.team_association.is_invited && !status.team_association.is_user_agreed">
              Please accept the invitation first.
            </p>
            <p *ngIf="!status.team_association.is_invited && !status.team_association.is_creator_agreed">
              Please ask the team creator to accept your join request.
            </p>
          </div>
        </div>
        <ng-template #memberMessages>
          <div class="ui message warning icon" *ngIf="!status.team_association.team.is_finalised">
            <i class="icon gavel"></i>
            <div class="content">
              <div class="header">Your team has not been finalised</div>
              <p *ngIf="status.team_association.team.creator_id==user.id; else memberNotFinalisedHint">Please finalise the team first.</p>
              <ng-template #memberNotFinalisedHint>
                <p>Please ask the team creator to finalise the team first.</p>
              </ng-template>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="ui message warning icon" *ngIf="isClosed">
      <i class="icon times circle outline"></i>
      <div class="content">
        <div class="header">Task has been closed</div>
        <p>You are not allowed to make new submissions after the close time</p>
      </div>
    </div>

    <div class="ui message info icon" *ngIf="status.special_consideration">
      <i class="icon heart outline"></i>
      <div class="content">
        <div class="header">
          We have special considerations on
          <span *ngIf="task.is_team_task; else userSpecialHint">your team</span>
          <ng-template #userSpecialHint>you</ng-template>
        </div>
        <ul class="list">
          <li *ngIf="status.special_consideration.due_time_extension">Due time +{{status.special_consideration.due_time_extension}} hours.</li>
          <li *ngIf="status.special_consideration.submission_attempt_limit_extension">Submission attempt limit +{{status.special_consideration.submission_attempt_limit_extension}}.</li>
        </ul>
      </div>
    </div>

    <div class="ui message info icon" *ngIf="task.submission_history_limit!=null && (task.submission_attempt_limit==null || task.submission_history_limit < task.submission_attempt_limit)">
      <i class="icon history"></i>
      <div class="content">
        <div class="header">We have set a history limit</div>
        <ul class="list">
          <li>Only the latest {{task.submission_history_limit}} submissions
            <span *ngIf="task.is_team_task"> in your whole team </span>
            are kept and the older ones will be removed.
          </li>
          <li>We may use the full history or only the latest submission for the evaluation. Please refer to the specification.</li>
        </ul>
      </div>
    </div>

    <div class="ui message warning icon" *ngIf="isReadyToSubmit && lateDays!= null">
      <i class="icon clock"></i>
      <div class="content">
        <div class="header">Hey! You are late!</div>
        Your NEW submission will get a <span *ngIf="latePenalty!=null">{{latePenalty|percent}}</span> deduction on the final marks as being {{lateDays}} <span *ngIf="lateDays>1; else oneDayLate">days</span> late.
        <ng-template #oneDayLate>day</ng-template>
      </div>
    </div>

    <div class="ui segment center aligned" *ngIf="countDownSeconds!=null">
      <h3>Deadline approaching!</h3>
      <div class="ui three statistics">
        <div class="statistic">
          <div class="value">{{countDownHours|number:'2.0-0'}}</div>
          <div class="label">hours</div>
        </div>
        <div class="statistic">
          <div class="value">{{countDownMinutes|number:'2.0-0'}}</div>
          <div class="label">minutes</div>
        </div>
        <div class="statistic">
          <div class="value">{{countDownSeconds|number:'2.0-0'}}</div>
          <div class="label">seconds</div>
        </div>
      </div>
    </div>

    <div class="ui segment" *ngIf="attemptEntries">
      <div class="attempts-bar">
        <div class="items">
          <div class="item" *ngFor="let entry of attemptEntries" [ngClass]="{'attempted': entry.attempted}"></div>
        </div>
        <div class="label">
          Attempts: {{status.attempts}} &nbsp; Limit: {{task.submission_attempt_limit}}
          <span *ngIf="status.special_consideration?.submission_attempt_limit_extension">
              (+{{status.special_consideration?.submission_attempt_limit_extension}})
            </span>
        </div>
      </div>
    </div>

    <div class="ui segment" *ngIf="task.file_requirements.length; else noFileRequirements">
      <form class="ui form" [ngClass]="{'loading': submitting}" (submit)="submit()">
        <div class="field" *ngFor="let req of task.file_requirements" [ngClass]="{'required': !req.is_optional, 'error': req._form_errors, 'disabled': !isReadyToSubmit}">
          <label>{{req.name}} <span *ngIf="req.is_optional">(Optional)</span></label>
          <input type="file" name="{{req.name}}" [accept]="req._extension || '*/*'" (change)="updateFile(req, inputFile.files)" #inputFile>
          <div class="errors">
            <label *ngIf="req._form_errors?.required"><i class="icon times"></i> {{req.name}} is required</label>
            <label *ngIf="req._form_errors?.extension"><i class="icon times"></i> Invalid file extension</label>
            <label *ngIf="req._form_errors?.size"><i class="icon times"></i> File is too big (at most {{req.size_limit | size}})</label>
          </div>
        </div>
        <ng-container *ngIf="lateDays==null; else lateSubmitBtn">
          <button type="submit" class="ui primary button submit fluid" [ngClass]="{'disabled': !isReadyToSubmit}"><i class="icon paper plane outline"></i> Submit</button>
        </ng-container>
        <ng-template #lateSubmitBtn>
          <button type="submit" class="ui yellow button submit fluid" [ngClass]="{'disabled': !isReadyToSubmit}"><i class="icon paper plane outline"></i> Submit Late Submission</button>
        </ng-template>
      </form>
    </div>

    <ng-template #noFileRequirements>
      <div class="ui info message icon">
        <i class="icon expand"></i>
        <div class="content">
          <div class="header">No file requirements</div>
          <p>You are not required to submit anything for this task right now.</p>
        </div>
      </div>
    </ng-template>

  </div>
</div>
