<app-error-message [error]="error"></app-error-message>
<app-success-message [success]="success"></app-success-message>

<div class="ui active text loader" *ngIf="loadingCourse">Loading course info...</div>

<div class="ui grid stackable two column" *ngIf="course">
  <div class="row">
    <div class="column">
      <div class="ui breadcrumb">
        <a class="section" routerLink="..">Courses</a>
        <i class="icon right angle divider"></i>
        <div class="section active">{{ course.code }}</div>
      </div>
    </div>
  </div>
  <!-- Left Panel -->
  <div class="column">
    <div class="ui segments">
      <!--Header-->
      <div class="ui segment">
        <div class="ui header">
          <i class="icon book"></i>
          {{course.code}}
        </div>
      </div>
      <!--End of Header-->

      <!-- Basic Info -->
      <div class="ui segment">
        <div class="ui list horizontal">
          <div class="item">
            <div class="header">ID</div>
            {{course.id}}
          </div>
          <div class="item">
            <div class="header">Code</div>
            {{course.code}}
          </div>
          <div class="item">
            <div class="header">Name</div>
            {{course.name}}
          </div>
          <div class="item">
            <div class="header">Tutor Group</div>
            <a target="_blank" href="admin/groups/{{ course.tutor_group.id }}">{{ course.tutor_group.name }}</a>
          </div>
        </div>
      </div>
      <!-- End of Basic Info -->

      <!--Icon Upload-->
      <div class="ui segment">
        <div class="ui center aligned grid">
          <div class="column">
            <form class="ui form" [ngClass]="{'loading': uploadingIcon}">
              <div class="field">
                <label>Icon</label>
                <input type="file" hidden name="icon" #icon_input [accept]="iconValidator.filter.accept.join(',')" (change)="uploadIcon(icon_input)">
                <img class="ui small centered image" [src]="course.icon" *ngIf="course.icon">
                <div class="text muted" *ngIf="!course.icon">(No icon)</div>
              </div>
              <button class="ui primary button" type="button" (click)="icon_input.click()">Upload Icon</button>
              <p>Max size: {{iconValidator.filter.size_limit/1024 | number}}KB</p>
            </form>
          </div>
        </div>
      </div>
      <!--End of Icon Upload-->

    </div>
  </div>
  <!-- End of Left Panel -->

  <!--Right Panel-->
  <div class="column">

    <!--Terms-->
    <div class="ui top attached segment">
      <div class="ui header">
        <i class="icon calendar outline"></i> Terms
      </div>
    </div>
    <table class="ui bottom attached table unstackable celled">
      <thead><tr><th>ID</th><th>Year</th><th>Semester</th><th class="collapsing">Ops</th></tr></thead>
      <tbody>
      <tr *ngFor="let term of course.terms, index as i">
        <td>{{term.id}}</td>
        <td>{{term.year}}</td>
        <td>{{term.semester}}</td>
        <td class="collapsing">
          <div class="ui buttons small">
            <a class="ui button icon" routerLink="../../terms/{{term.id}}"><i class="ui edit icon"></i></a>
            <a class="ui button icon red" #btnDeleteTerm (click)="deleteTerm(term, i, btnDeleteTerm)"><i class="ui trash icon"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--End of Terms-->

    <!--New Term-->
    <div class="ui segment">
      <div class="ui header dividing">
        <i class="icon plus"></i>
        New Term
      </div>

      <form class="ui form" #f="ngForm" (ngSubmit)="addTerm(f)" [ngClass]="{'loading': addingTerm}">
        <div class="field required"
             [ngClass]="{'error': (f.submitted || yearModel.touched || yearModel.dirty) && yearModel.invalid}">
          <label>Year</label>
          <input type="number" name="year" placeholder="year of term" required min="2000" max="2200" [(ngModel)]="newTermForm.year" #yearModel="ngModel" (change)="autoFillForm()">
          <div class="errors">
            <label *ngIf="yearModel.errors?.required"><i class="icon times"></i>Year is required</label>
            <label *ngIf="yearModel.errors?.min"><i class="icon times"></i>Year is at least 2000</label>
            <label *ngIf="yearModel.errors?.max"><i class="icon times"></i>Year is at least 2200</label>
          </div>
        </div>
        <div class="field required" [ngClass]="{'error': (f.submitted || semesterModel.touched || semesterModel.dirty) && semesterModel.invalid}">
          <label>Semester</label>
          <select name="semester" [(ngModel)]="newTermForm.semester" #semesterModel="ngModel" required (change)="autoFillForm()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="summer">summer</option>
          </select>
          <div class="errors">
            <label *ngIf="semesterModel.errors?.required"><i class="icon times"></i>Semester is required</label>
          </div>
        </div>
        <div class="field required" [ngClass]="{'error': (student_group_name_model.touched || student_group_name_model.dirty || f.submitted) && student_group_name_model.invalid}">
          <label>Student Group Name</label>
          <input type="text" name="student_group_name" placeholder='Group name for students of this term (at most 24 characters)'
                 required maxlength="24"
                 [(ngModel)]="newTermForm.student_group_name" #student_group_name_model="ngModel">
          <div class="errors">
            <label *ngIf="student_group_name_model.errors?.required"><i class="icon times"></i> Student group name is required</label>
            <label *ngIf="student_group_name_model.errors?.maxlength"><i class="icon times"></i> Student group name is too long</label>
          </div>
        </div>
        <div class="field">
          <div class="ui input checkbox" (click)="checkboxNewStudentGroup.click()">
            <input type="checkbox" #checkboxNewStudentGroup class="hidden" tabindex="0" name="is_new_student_group" [(ngModel)]="newTermForm.is_new_student_group">
            <label>Create new student group</label>
          </div>
        </div>
        <button type="submit" class="ui button primary fluid">Add Term</button>
      </form>
    </div>
    <!--End of New Term-->

  </div>
  <!--End of Right Panel-->
</div>
