<app-error-message [error]="error"></app-error-message>
<app-success-message [success]="success"></app-success-message>

<div class="ui active text loader" *ngIf="loadingCourse">Loading course info...</div>

<div class="ui grid stackable two column" *ngIf="course">
  <!-- Left Panel -->
  <div class="column">
    <div class="ui segments">
      <!--Header-->
      <div class="ui segment">
        <div class="ui header">
          <i class="icon book"></i>
          {{course.code}}
        </div>
      </div>
      <!--End of Header-->

      <!-- Basic Info -->
      <div class="ui segment">
        <div class="ui list horizontal">
          <div class="item">
            <div class="header">ID</div>
            {{course.id}}
          </div>
          <div class="item">
            <div class="header">Code</div>
            {{course.code}}
          </div>
          <div class="item">
            <div class="header">Name</div>
            {{course.name}}
          </div>
        </div>
      </div>
      <!-- End of Basic Info -->

      <!--Icon Upload-->
      <div class="ui segment">
        <div class="ui center aligned grid">
          <div class="column">
            <form class="ui form" [ngClass]="{'loading': uploadingIcon}">
              <div class="field">
                <label>Icon</label>
                <input type="file" hidden name="icon" #icon_input [accept]="iconValidator.filter.accept.join(',')" (change)="uploadIcon(icon_input)">
                <img class="ui small centered image" [src]="course.icon" *ngIf="course.icon">
                <div class="text muted" *ngIf="!course.icon">(No icon)</div>
              </div>
              <button class="ui primary button" type="button" (click)="icon_input.click()">Upload Icon</button>
              <p>Max size: {{iconValidator.filter.size_limit/1024 | number}}KB, squared image only</p>
            </form>
          </div>
        </div>
      </div>
      <!--End of Icon Upload-->

      <!-- User Associations -->
      <div class="ui segment">
        <div class="ui header">
          <i class="icon user"></i>
          User Associations
        </div>
        <table class="ui table unstackable compact celled">
          <thead><tr><th>ID</th><th>Name</th><th>Nickname</th><th>Role</th><th class="collapsing">Ops</th></tr></thead>
          <tbody>
          <tr *ngFor="let asso of course.user_associations, index as i">
            <td>{{ asso.user.id }}</td>
            <td>{{ asso.user.name }}</td>
            <td>{{ asso.user.nickname }}</td>
            <td>{{ asso.role }}</td>
            <td class="collapsing">
              <div class="ui small buttons">
                <a #btnRemoveUserAssocitaion class="ui icon button red" (click)="removeUserAssociation(asso.user, asso.role, i, btnRemoveUserAssocitaion)"><i class="icon minus"></i></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- Add User Associations -->
        <div class="ui segment top attached">
          <div class="ui icon fluid input">
            <input type="text" placeholder="Search users by name or nickname..."
                   (keyup)="searchUser(searchUserInput.value)" #searchUserInput>
            <i class="icon search"></i>
          </div>
          <p class="text muted" [hidden]="!userSearchResults || userSearchResults.length > 0"><i class="info circle icon"></i> No results</p>
        </div>

        <table class="ui table unstackable compact celled bottom attached" [hidden]="!userSearchResults || userSearchResults.length==0">
          <thead><tr><th>ID</th><th>Name</th><th>Nickname</th><th class="collapsing">Lecturer Role</th></tr></thead>
          <tbody>
          <tr *ngFor="let user of userSearchResults; index as i">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{ user.nickname }}</td>
            <td class="collapsing center aligned">
            <span *ngIf="!userAlreadyHasAssociation(user, 'lecturer'); else userAlreadyLecturer">
              <a class="ui icon button small primary" #btnAddUserLecturer (click)="addUserAssociation(user, 'lecturer', btnAddUserLecturer)">
                <i class="plus icon"></i>
              </a>
            </span>
            <ng-template #userAlreadyLecturer>
              <a class="ui icon button small green"><i class="check icon"></i></a>
            </ng-template>
            </td>
            <td class="collapsing center aligned">
            </td>
          </tr>
          </tbody>
        </table>
        <!-- End of Add User Associations -->
      </div>
    </div>
  </div>
  <!-- End of Left Panel -->

  <!--Right Panel-->
  <div class="column">

    <!--Terms-->
    <div class="ui top attached segment">
      <div class="ui header">
        <i class="icon calendar outline"></i> Terms
      </div>
    </div>
    <table class="ui bottom attached table unstackable celled">
      <thead><tr><th>ID</th><th>Year</th><th>Semester</th><th class="collapsing">Ops</th></tr></thead>
      <tbody>
      <tr *ngFor="let term of course.terms, index as i">
        <td>{{term.id}}</td>
        <td>{{term.year}}</td>
        <td>{{term.semester}}</td>
        <td class="collapsing">
          <div class="ui buttons small">
            <a class="ui button icon" routerLink="../../terms/{{term.id}}"><i class="ui edit icon"></i></a>
            <a class="ui button icon red" #btnDeleteTerm (click)="deleteTerm(term, i, btnDeleteTerm)"><i class="ui trash icon"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--End of Terms-->

    <!--New Term-->
    <div class="ui segment">
      <div class="ui header dividing">
        <i class="icon plus"></i>
        New Term
      </div>

      <form class="ui form" #f="ngForm" (ngSubmit)="addTerm(f)" [ngClass]="{'loading': addingTerm}">
        <div class="field required"
             [ngClass]="{'error': (f.submitted || yearModel.touched || yearModel.dirty) && yearModel.invalid}">
          <label>Year</label>
          <input type="number" name="year" placeholder="year of term" required min="2000" max="2200" [(ngModel)]="newTermForm.year" #yearModel="ngModel">
          <div class="errors">
            <label *ngIf="yearModel.errors?.required"><i class="icon times"></i>Year is required</label>
            <label *ngIf="yearModel.errors?.min"><i class="icon times"></i>Year is at least 2000</label>
            <label *ngIf="yearModel.errors?.max"><i class="icon times"></i>Year is at least 2200</label>
          </div>
        </div>
        <div class="field required" [ngClass]="{'error': (f.submitted || semesterModel.touched || semesterModel.dirty) && semesterModel.invalid}">
          <label>Semester</label>
          <select name="semester" [(ngModel)]="newTermForm.semester" #semesterModel="ngModel" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="summer">summer</option>
          </select>
          <div class="errors">
            <label *ngIf="semesterModel.errors?.required"><i class="icon times"></i>Semester is required</label>
          </div>
        </div>
        <button type="submit" class="ui button primary">Add Term</button>
      </form>
    </div>
    <!--End of New Term-->

  </div>
  <!--End of Right Panel-->
</div>
