<app-error-message [error]="error"></app-error-message>

<div class="ui text loader active" *ngIf="loadingTask">Loading task info...</div>

<ng-container *ngIf="task">
  <!-- Breadcrumb -->
  <div class="ui breadcrumb">
    <a class="section" routerLink="../../courses">Courses</a>
    <i class="icon right angle divider"></i>
    <a class="section" routerLink="../../courses/{{ task.term.course.id }}">{{ task.term.course.code }}</a>
    <i class="icon right angle divider"></i>
    <a class="section" routerLink="../../terms/{{ task.term.id }}">{{ task.term.year }} Semester {{ task.term.semester }}</a>
    <i class="icon right angle divider"></i>
    <div class="section active">{{ task.title }}</div>
  </div>
  <!-- End of Breadcrumb -->

  <div class="ui segments">
    <!-- Header -->
    <div class="ui clearing segment">
      <a routerLink="/terms/{{task.term_id}}/tasks/{{task.id}}" class="ui right floated button mini">
        <i class="icon eye"></i> View
      </a>
      <div class="ui header left floated">
        <i class="icon" [ngClass]="categories[task.type].icon"></i>
        {{  task.title }}
      </div>
    </div>
    <!-- End of Header -->

    <!-- Basic info -->
    <div class="ui segment">
      <div class="ui list horizontal">
        <div class="item">
          <div class="header">ID</div>
          {{ task.id }}
        </div>
        <div class="item">
          <div class="header">Type</div>
          {{ task.type | titlecase }}
        </div>
        <div class="item">
          <div class="header">Created At</div>
          {{ task.created_at | date: 'medium'}}
        </div>
        <div class="item">
          <div class="header">Updated At</div>
          {{ task.modified_at | date: 'medium' }}
        </div>
        <div class="item">
          <div class="header">Course</div>
          <a routerLink="../../courses/{{ task.term.course.id }}">{{ task.term.course.code }}</a>
        </div>
        <div class="item">
          <div class="header">Term</div>
          <a routerLink="../../terms/{{ task.term.id }}">{{ task.term.year }} Semester {{ task.term.semester }}</a>
        </div>
      </div>
    </div>
    <!-- End of Basic info -->
  </div>

  <app-error-message [error]="secondaryError"></app-error-message>
  <app-success-message [success]="success"></app-success-message>

  <div class="ui stackable grid">
    <!-- Left menu -->
    <div class="four wide column">
      <div class="ui fluid vertical pointing menu">
        <a class="item" (click)="activeTab='basic'" [ngClass]="{'active': activeTab=='basic'}">
          Basic
          <i class="icon info circle"></i>
        </a>
        <a class="item" (click)="activeTab='materials'" [ngClass]="{'active': activeTab=='materials'}">
          Materials
          <i class="icon copy"></i>
        </a>
        <a class="item" (click)="activeTab='requirements'" [ngClass]="{'active': activeTab=='requirements'}">
          Requirements
          <i class="icon copy outline"></i>
        </a>
        <a class="item" (click)="activeTab='auto_test_configs'; editingAutoTestConfig=null" [ngClass]="{'active': activeTab=='auto_test_configs'}">
          Auto Test Configurations
          <i class="icon terminal"></i>
        </a>
        <a class="item" (click)="activeTab='special_considerations'" [ngClass]="{'active': activeTab=='special_considerations'}">
          Special Considerations
          <i class="icon heart outline"></i>
        </a>
      </div>
    </div>
    <!-- End of Left menu -->

    <!-- Right tab container -->
    <div class="twelve wide column">
      <!-- Basic tab -->
      <div class="ui tab" [ngClass]="{'active': activeTab=='basic'}">
        <div class="ui segment">
          <form class="ui form" [ngClass]="{'loading': updating}" (ngSubmit)="update(f)" #f="ngForm">
            <div class="fields">
              <div class="three wide field">
                <div class="field required">
                  <label>Task Type</label>
                  <select name="type" [(ngModel)]="form.type" required>
                    <option value="lab">Lab</option>
                    <option value="assignment">Assignment</option>
                    <option value="project">Project</option>
                  </select>
                </div>
              </div>
              <div class="thirteen wide field">
                <div class="field required" [ngClass]="{'error': (f.submitted||titleModel.dirty||titleModel.touched) && titleModel.invalid}">
                  <label>Title</label>
                  <input type="text" name="title" [(ngModel)]="form.title" #titleModel="ngModel" placeholder="Title of the task (at most 128 characters)" required maxlength="128">
                  <div class="errors">
                    <label *ngIf="titleModel.errors?.required">Title is required</label>
                    <label *ngIf="titleModel.errors?.maxlength">Title is too long</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Description (Optional)</label>
              <textarea name="description" rows="6" [(ngModel)]="form.description" placeholder="Short description of the task"></textarea>
            </div>

            <div class="ui stackable grid">
              <div class="two column row">
                <div class="column">
                  <div class="field">
                    <label>Open Time</label>
                    <input type="datetime-local" name="open_time" [(ngModel)]="form.open_time">
                  </div>
                  <div class="field">
                    <label>Due Time</label>
                    <input type="datetime-local" name="due_time" [(ngModel)]="form.due_time">
                  </div>
                  <div class="field">
                    <label>Close Time</label>
                    <input type="datetime-local" name="close_time" [(ngModel)]="form.close_time">
                  </div>
                  <div class="late-penalty-edit-wrapper">
                    <div class="field" [ngClass]="{'error': (f.submitted||latePenaltyModel.dirty||latePenaltyModel.touched) && latePenaltyModel.invalid}">
                      <label>Late Penalty</label>
                      <input #inputLatePenalty type="text" placeholder="Late penalty list" name="late_penalty" maxlength="128" [(ngModel)]="form.late_penalty"
                             pattern=" *\d+(\.\d+)?( +\d+(\.\d+)?)* *" #latePenaltyModel="ngModel"
                             (focus)="editingLatePenalty=true" (blur)="editingLatePenalty=false">
                      <div class="errors">
                        <label *ngIf="latePenaltyModel.errors?.pattern">Invalid format</label>
                        <label *ngIf="latePenaltyModel.errors?.maxlength">Late penalty list is too long</label>
                      </div>
                    </div>
                    <div class="ui left rail" [hidden]="!editingLatePenalty">
                      <div class="ui message info">
                        <div class="header">Late Penalty Syntax</div>
                        <ul class="list">
                          <li>It should be <b>a list of float numbers separated by space characters</b>.</li>
                          <li>Each number represents a penalty percentage <b>for a day</b>. E.g. "0.4 0.3 0.2 0.1" means 40% deduction for the first day, 30% deduction for the second day and so on.</li>
                          <li>The accumulative penalty should not be larger than 1.0. Invalid trailing numbers will be fixed or ignored. E.g. "0.5 0.4 0.2 0.1" will be treated as "0.5 0.4 0.1".</li>
                          <li>Trailing numbers with the same value can be omitted. E.g. "0.3 0.3 0.1 0.1 0.1 0.1" can be shortened as "0.3 0.3 0.1".</li>
                          <li>"0" means no late penalty.</li>
                          <li>Max length: {{inputLatePenalty.maxLength}}.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui input checkbox" (click)="checkboxIsTeamTask.click()">
                      <input type="checkbox" name="is_team_task" [(ngModel)]="form.is_team_task" class="hidden" #checkboxIsTeamTask>
                      <label>Team task?</label>
                    </div>
                  </div>
                  <div class="fields" *ngIf="form.is_team_task">
                    <div class="eight wide field">
                      <label>Team Min Size</label>
                      <input type="number" min="1" placeholder="Minimal size" name="team_min_size" [(ngModel)]="form.team_min_size" step="1">
                    </div>
                    <div class="eight wide field">
                      <label>Team Max Size</label>
                      <input type="number" min="1" placeholder="Maximal size" name="team_max_size" [(ngModel)]="form.team_max_size" step="1">
                    </div>
                  </div>
                  <div class="field" *ngIf="form.is_team_task">
                    <label>Team Join Close Time</label>
                    <input type="datetime-local" name="team_join_close_time" [(ngModel)]="form.team_join_close_time">
                  </div>
                </div>

                <div class="column">
                  <div class="field">
                    <label>Submission Attempt Limit</label>
                    <input type="number" min="1" placeholder="Max submission attempts for a user/team" name="submission_attempt_limit" [(ngModel)]="form.submission_attempt_limit" step="1">
                  </div>
                  <div class="field">
                    <label>Submission History Limit</label>
                    <input type="number" min="1" placeholder="Max submission histories to keep" name="submission_history_limit" [(ngModel)]="form.submission_history_limit" step="1">
                  </div>
                  <div class="field">
                    <label>Evaluation Method</label>
                    <select name="evaluation_method" [(ngModel)]="form.evaluation_method">
                      <option value="auto_test">Auto Testing</option>
                      <option [ngValue]="null">Offline</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="one column row">
                <div class="column">
                  <button class="ui button primary fluid" type="submit">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- End of Basic tab -->

      <!-- Materials tab -->
      <div class="ui tab" [ngClass]="{'active': activeTab=='materials'}">
        <table class="ui bottom attached table celled unstackable">
          <thead><tr><th>ID</th><th>Type</th><th>Name</th><th>Flags</th><th>Updated At</th><th>Description</th><th>Size</th><th>MD5 Hash</th><th>Ops</th></tr></thead>
          <tbody>
          <tr *ngFor="let mat of task.materials; index as i">
            <td>{{ mat.id }}</td>
            <td>{{ mat.type | titlecase }}</td>
            <td>{{ mat.name }}</td>
            <td>
              <i class="ui red lock icon" *ngIf="mat.is_private" title="Private"></i>
              <i class="ui green play icon" *ngIf="mat.id == task.auto_test_environment_id" title="Active Auto Test Environment"></i>
            </td>
            <td>{{ mat.modified_at | date: 'short' }}</td>
            <td>{{ mat.description }}</td>
            <td>{{ mat.size | size }}</td>
            <td><span [attr.data-tooltip]="mat.md5" data-position="bottom center">{{ mat.md5 | slice: 0:6}}</span></td>
            <td>
              <div class="ui small buttons">
                <a class="ui button red icon" title="Make Private" (click)="updateMaterialVisibility(mat, true, btnMakeMaterialPrivate)" #btnMakeMaterialPrivate *ngIf="!mat.is_private"><i class="icon lock"></i></a>
                <a class="ui button green icon" title="Make Public" (click)="updateMaterialVisibility(mat, false, btnMakeMaterialPublic)" #btnMakeMaterialPublic *ngIf="mat.is_private"><i class="icon lock open"></i></a>
                <a href="api/admin/materials/{{ mat.id }}/download" title="Download" class="ui button icon"><i class="icon download"></i></a>
                <a class="ui button icon primary" title="Update" (click)="updateMaterialSelectFile(mat, inputFileUpdateMaterial)" #btnUpdateMaterial><i class="icon upload"></i></a>
                <a class="ui button red icon" title="Delete" (click)="deleteMaterial(mat, i, btnDeleteMaterial)" #btnDeleteMaterial><i class="icon trash"></i></a>
              </div>
              <form class="hidden">
                <input type="file" (change)="updateMaterialFile(mat, i, btnUpdateMaterial, inputFileUpdateMaterial)" #inputFileUpdateMaterial>
              </form>
              <div class="ui bottom attached progress" *ngIf="mat['_update_progress']">
                <div class="bar" [ngStyle]="{'width.%': mat['_update_progress']}"></div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <!--Start of New Material-->
        <div class="ui centered stackable grid">
          <div class="ten wide column">
            <div class="ui segments">
              <div class="ui segment">
                <h4 class="ui header">
                  <i class="icons">
                    <i class="icon file"></i>
                    <i class="icon plus right bottom corner"></i>
                  </i>
                  New Material
                </h4>
              </div>
              <div class="ui segment">
                <div class="ui top attached progress" *ngIf="addingMaterial">
                  <div class="bar" [ngStyle]="{'width.%': materialUploadProgress}"></div>
                </div>
                <form class="ui form" [ngClass]="{'loading': addingMaterial}" #fNewMaterial="ngForm" (ngSubmit)="addMaterial(fNewMaterial, inputMaterialFile.files)">
                  <div class="field required" [ngClass]="{'error': materialTypeModel.invalid && (materialTypeModel.touched || materialTypeModel.dirty || fNewMaterial.submitted)}">
                    <label>Material Type</label>
                    <select name="type" [(ngModel)]="newMaterialForm.type" required #materialTypeModel="ngModel">
                      <option value="specification">Specification</option>
                      <option value="code">Code</option>
                      <option value="data">Data</option>
                      <option value="test environment">Test Environment</option>
                      <option value="solution">Solution</option>
                      <option value="other">Other</option>
                    </select>
                    <div class="errors">
                      <label *ngIf="materialTypeModel.errors?.required">Material type is required</label>
                    </div>
                  </div>
                  <div class="field required" [ngClass]="{'error': (materialFileModel.invalid && (materialFileModel.touched || materialFileModel.dirty || fNewMaterial.submitted))}">
                    <label>File</label>
                    <input type="file" name="file" (change)="updateFileName(inputMaterialFile.files)" #inputMaterialFile #materialFileModel="ngModel" required [(ngModel)]="materialFakePath">
                    <div class="errors">
                      <label *ngIf="materialFileModel.errors?.required">Material file is required</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui input checkbox" (click)="checkboxMaterialIsPrivate.click()">
                      <input type="checkbox" tabindex="0" class="hidden" #checkboxMaterialIsPrivate name="is_private" [(ngModel)]="newMaterialForm.is_private">
                      <label>Private</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui input checkbox" (click)="checkboxUseFileName.click()">
                      <input type="checkbox" class="hidden" tabindex="0" #checkboxUseFileName name="useFileName" [(ngModel)]="materialUseOriginalName">
                      <label>Use original file name</label>
                    </div>
                  </div>
                  <div class="field required" *ngIf="!materialUseOriginalName" [ngClass]="{'error': materialNameModel.invalid && (fNewMaterial.submitted || materialNameModel.touched || materialNameModel.dirty)}">
                    <label>File Name</label>
                    <input type="text" name="name" required maxlength="128" pattern="^[^\s?#/\\|()&]+$"
                           [(ngModel)]="newMaterialForm.name" #materialNameModel="ngModel">
                    <div class="errors">
                      <label *ngIf="materialNameModel.errors?.required">File name is required</label>
                      <label *ngIf="materialNameModel.errors?.maxlength">File name is too long</label>
                      <label *ngIf="materialNameModel.errors?.pattern">Invalid name format</label>
                    </div>
                  </div>
                  <div class="field">
                    <label>Description (Optional)</label>
                    <textarea name="description" rows="3" [(ngModel)]="newMaterialForm.description" placeholder="Description of the material"></textarea>
                  </div>
                  <button class="ui fluid primary button" type="submit">Add Material</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--End of New Material-->
      </div>
      <!-- End of Materials tab -->

      <!-- Requirements tab -->
      <div class="ui tab" [ngClass]="{'active': activeTab=='requirements'}">
        <table class="ui bottom attached table celled unstackable">
          <thead><tr><th>ID</th><th>Name</th><th>Updated At</th><th>Description</th><th>Optional?</th><th>Size Limit</th><th>Ops</th></tr></thead>
          <tbody>
          <tr *ngFor="let req of task.file_requirements; index as i">
            <td>{{ req.id }}</td>
            <td>{{ req.name }}</td>
            <td>{{ req.modified_at | date: 'short'}}</td>
            <td>{{ req.description }}</td>
            <td>{{ req.is_optional }}</td>
            <td>
              <span *ngIf="req.size_limit!=null; else sizeNoLimit">{{ req.size_limit | size }}</span>
              <ng-template #sizeNoLimit>(No limit)</ng-template>
            </td>
            <td>
              <a class="ui button small red icon" (click)="deleteFileRequirement(req, i, btnDeleteFileRequirement)" #btnDeleteFileRequirement><i class="icon trash"></i></a>
            </td>
          </tr>
          </tbody>
        </table>

        <!--Start of New Requirement-->
        <div class="ui centered stackable grid">
          <div class="ten wide column">
            <div class="ui segments">
              <div class="ui segment">
                <h4 class="ui header">
                  <i class="icons">
                    <i class="icon file outline"></i>
                    <i class="icon plus right bottom corner"></i>
                  </i>
                  New Requirement
                </h4>
              </div>
              <div class="ui segment">
                <form class="ui form" #fNewFileRequirement="ngForm" (ngSubmit)="addFileRequirement(fNewFileRequirement)" [ngClass]="{'loading': addingFileRequirement}">
                  <div class="field required" [ngClass]="{'error': (fNewFileRequirement.submitted ||fileRequirementNameModel.dirty||fileRequirementNameModel.touched) && fileRequirementNameModel.invalid}">
                    <label>File Name</label>
                    <input type="text" name="name" placeholder="Name of the required file (at most 128 characters)"
                           [(ngModel)]="newFileRequirementForm.name" #fileRequirementNameModel="ngModel"
                           required maxlength="128" pattern="^[^\s?#/\\|()&]+$">
                    <div class="errors">
                      <label *ngIf="fileRequirementNameModel.errors?.required">Name is required</label>
                      <label *ngIf="fileRequirementNameModel.errors?.maxlength">Name is too long</label>
                      <label *ngIf="fileRequirementNameModel.errors?.pattern">Invalid name format</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui input checkbox" (click)="checkboxRequirementIsOptional.click()">
                      <input type="checkbox" tabindex="0" class="hidden" #checkboxRequirementIsOptional name="is_optional" [(ngModel)]="newFileRequirementForm.is_optional">
                      <label>Optional</label>
                    </div>
                  </div>
                  <div class="field">
                    <label>Size Limit (Unit: Bytes) (Optional)</label>
                    <input type="number" min="1" name="size_limit" [(ngModel)]="newFileRequirementForm.size_limit" placeholder="Size limit of the uploaded file">
                  </div>
                  <div class="field">
                    <label>Description (Optional)</label>
                    <textarea name="description" rows="3" [(ngModel)]="newFileRequirementForm.description" placeholder="Description of the file"></textarea>
                  </div>
                  <button class="ui fluid primary button" type="submit">Add Requirement</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--End of New Requirement-->
      </div>
      <!-- End of Requirements tab -->

      <!-- AutoTestConfig tab -->
      <div class="ui tab" [ngClass]="{'active': activeTab=='auto_test_configs'}">
        <ng-container *ngIf="task.evaluation_method=='auto_test'; else noAutoTestEvaluation">
          <div class="ui menu secondary pointing">
            <a class="item" (click)="editingAutoTestConfig=null"  [ngClass]="{'active': editingAutoTestConfig==null}">Configurations</a>
            <a class="item active" *ngIf="editingAutoTestConfig">Editing: {{editingAutoTestConfig.name}}</a>
          </div>

          <ng-container *ngIf="!editingAutoTestConfig; else editAutoTestConfigPanel">
            <table class="ui bottom attached table celled unstackable">
              <thead><tr><th>ID</th><th>Name</th><th>Type</th><th>Flags</th><th>Updated At</th><th>Description</th><th>Ops</th></tr></thead>
              <tbody>
              <tr *ngFor="let config of task.auto_test_configs; index as i">
                <td>{{ config.id }}</td>
                <td>{{ config.name }}</td>
                <td>{{ config.type}}</td>
                <td>
                  <i title="Enabled" class="icon green play circle" *ngIf="config.is_enabled; else auto_test_config_disabled"></i>
                  <i title="Private" class="icon red lock" *ngIf="config.is_private; else auto_test_config_private"></i>
                  <ng-template #auto_test_config_disabled>
                    <i title="Disabled" class="icon red times circle"></i>
                  </ng-template>
                  <ng-template #auto_test_config_private>
                    <i title="Public" class="icon green lock open"></i>
                  </ng-template>
                </td>
                <td>{{ config.modified_at | date: 'short' }}</td>
                <td>{{ config.description }}</td>
                <td>
                  <a class="ui button small icon" (click)="editAutoTestConfig(config)"><i class="icon edit"></i></a>
                  <a class="ui button small red icon" (click)="deleteAutoTestConfig(config, i, btnDeleteFileRequirement)" #btnDeleteFileRequirement><i class="icon trash"></i></a>
                </td>
              </tr>
              </tbody>
            </table>

            <!-- Start of New AutoTestConfig -->
            <div class="ui centered stackable grid">
              <div class="ten wide column">
                <div class="ui segments">
                  <div class="ui segment">
                    <h4 class="ui header">
                      <i class="icons">
                        <i class="icon terminal"></i>
                        <i class="icon plus right bottom corner"></i>
                      </i>
                      New Configuration
                    </h4>
                  </div>
                  <div class="ui segment">
                    <form class="ui form" #fNewAutoTestConfig="ngForm" (ngSubmit)="addAutoTestConfig(fNewAutoTestConfig)" [ngClass]="{'loading': addingAutoTestConfig}">
                      <div class="field required" [ngClass]="{'error': (fNewAutoTestConfig.submitted ||autoTestConfigNameModel.dirty||autoTestConfigNameModel.touched) && autoTestConfigNameModel.invalid}">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Name (at most 128 characters)"
                               [(ngModel)]="newAutoTestConfigForm.name" #autoTestConfigNameModel="ngModel"
                               required maxlength="128">
                        <div class="errors">
                          <label *ngIf="autoTestConfigNameModel.errors?.required">Name is required</label>
                          <label *ngIf="autoTestConfigNameModel.errors?.maxlength">Name is too long</label>
                        </div>
                      </div>
                      <div class="field required" [ngClass]="{'error': (autoTestConfigTypeModel.touched || autoTestConfigTypeModel.dirty || fNewAutoTestConfig.submitted) && autoTestConfigTypeModel.invalid}">
                        <label>Type</label>
                        <select name="type" [(ngModel)]="newAutoTestConfigForm.type" required #autoTestConfigTypeModel="ngModel">
                          <option value="docker">Docker</option>
                          <option value="run-script">Run Script</option>
                        </select>
                        <div class="errors">
                          <label *ngIf="autoTestConfigTypeModel.errors?.required">Type is required</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui input checkbox" (click)="checkboxAutoTestConfigIsEnabled.click()">
                          <input type="checkbox" tabindex="0" class="hidden" #checkboxAutoTestConfigIsEnabled name="is_enabled" [(ngModel)]="newAutoTestConfigForm.is_enabled">
                          <label>Enabled?</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui input checkbox" (click)="checkboxAutoTestConfigIsPrivate.click()">
                          <input type="checkbox" tabindex="0" class="hidden" #checkboxAutoTestConfigIsPrivate name="is_private" [(ngModel)]="newAutoTestConfigForm.is_private">
                          <label>Private?</label>
                        </div>
                      </div>
                      <div class="field">
                        <label>Description (Optional)</label>
                        <textarea name="description" rows="3" [(ngModel)]="newAutoTestConfigForm.description" placeholder="Description (at most 256 characters)"></textarea>
                      </div>
                      <div *ngIf="newAutoTestConfigForm.type=='docker' || newAutoTestConfigForm.type=='run-script'" class="field required" [ngClass]="{'error': (autoTestConfigEnvironmentId.touched || autoTestConfigEnvironmentId.dirty || fNewAutoTestConfig.submitted) && autoTestConfigEnvironmentId.invalid}">
                        <label>Test Environment</label>
                        <select name="environment_id" [(ngModel)]="newAutoTestConfigForm.environment_id" required #autoTestConfigEnvironmentId="ngModel">
                          <ng-container *ngFor="let mat of task.materials">
                            <option *ngIf="mat.type=='test environment'" [ngValue]="mat.id">
                              {{ mat.name + (mat.is_private ? ' (private)' : ' (public)')}}
                            </option>
                          </ng-container>
                        </select>
                        <div class="errors">
                          <label *ngIf="autoTestConfigEnvironmentId.errors?.required">Test environment is required. You need to add your test environment as a Material first.</label>
                        </div>
                      </div>
                      <button class="ui fluid primary button" type="submit">Add Configuration</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of New AutoTestConfig -->
          </ng-container>

          <ng-template #editAutoTestConfigPanel>
            <form class="ui form" #fUpdateAutoTestConfig="ngForm" (ngSubmit)="updateAutoTestConfig(fUpdateAutoTestConfig)" [ngClass]="{'loading': updatingAutoTestConfig}">
              <div class="field required" [ngClass]="{'error': (fUpdateAutoTestConfig.submitted ||updateAutoTestConfigNameModel.dirty||updateAutoTestConfigNameModel.touched) && updateAutoTestConfigNameModel.invalid}">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name (at most 128 characters)"
                       [(ngModel)]="updateAutoTestConfigForm.name" #updateAutoTestConfigNameModel="ngModel"
                       required maxlength="128">
                <div class="errors">
                  <label *ngIf="updateAutoTestConfigNameModel.errors?.required">Name is required</label>
                  <label *ngIf="updateAutoTestConfigNameModel.errors?.maxlength">Name is too long</label>
                </div>
              </div>
              <div class="field required" [ngClass]="{'error': (updateAutoTestConfigTypeModel.touched || updateAutoTestConfigTypeModel.dirty || fUpdateAutoTestConfig.submitted) && updateAutoTestConfigTypeModel.invalid}">
                <label>Type</label>
                <select name="type" [(ngModel)]="updateAutoTestConfigForm.type" required #updateAutoTestConfigTypeModel="ngModel">
                  <option value="docker">Docker</option>
                  <option value="run-script">Run Script</option>
                </select>
                <div class="errors">
                  <label *ngIf="updateAutoTestConfigTypeModel.errors?.required">Type is required</label>
                </div>
              </div>
              <div class="field">
                <div class="ui input checkbox" (click)="checkboxUpdateAutoTestConfigIsEnabled.click()">
                  <input type="checkbox" tabindex="0" class="hidden" #checkboxUpdateAutoTestConfigIsEnabled name="is_enabled" [(ngModel)]="updateAutoTestConfigForm.is_enabled">
                  <label>Enabled?</label>
                </div>
              </div>
              <div class="field">
                <div class="ui input checkbox" (click)="checkboxUpdateAutoTestConfigIsPrivate.click()">
                  <input type="checkbox" tabindex="0" class="hidden" #checkboxUpdateAutoTestConfigIsPrivate name="is_private" [(ngModel)]="updateAutoTestConfigForm.is_private">
                  <label>Private?</label>
                </div>
              </div>
              <div class="field">
                <label>Description</label>
                <textarea name="description" rows="3" [(ngModel)]="updateAutoTestConfigForm.description" placeholder="Description (at most 256 characters)"></textarea>
              </div>
              <div class="field required" [ngClass]="{'error': (updateAutoTestConfigPriorityModel.touched || updateAutoTestConfigPriorityModel.dirty || fUpdateAutoTestConfig.submitted) && updateAutoTestConfigPriorityModel.invalid}">
                <label>Priority</label>
                <input type="number" required min="0" max="255" step="1" [(ngModel)]="updateAutoTestConfigForm.priority" name="priority" #updateAutoTestConfigPriorityModel="ngModel" placeholder="An integer. Larger value means higher priority.">
                <div class="errors">
                  <label *ngIf="updateAutoTestConfigPriorityModel.errors?.required">Priority is required</label>
                </div>
              </div>
              <div class="field">
                <label>Trigger</label>
                <select name="trigger" [(ngModel)]="updateAutoTestConfigForm.trigger">
                  <option [ngValue]="null">No Trigger (start tests manually)</option>
                  <option value="after_submit">After Submission</option>
                  <option value="after_task_due">After Task Due</option>
                  <option value="after_task_close">After Task Close</option>
                </select>
              </div>

              <div *ngIf="updateAutoTestConfigForm.type=='docker' || updateAutoTestConfigForm.type=='run-script'" class="field required" [ngClass]="{'error': (updateAutoTestConfigEnvironmentId.touched || updateAutoTestConfigEnvironmentId.dirty || fUpdateAutoTestConfig.submitted) && updateAutoTestConfigEnvironmentId.invalid}">
                <label>Test Environment</label>
                <select name="environment_id" [(ngModel)]="updateAutoTestConfigForm.environment_id" required #updateAutoTestConfigEnvironmentId="ngModel">
                  <ng-container *ngFor="let mat of task.materials">
                    <option *ngIf="mat.type=='test environment'" [ngValue]="mat.id">
                      {{ mat.name + (mat.is_private ? ' (private)' : ' (public)')}}
                    </option>
                  </ng-container>
                </select>
                <div class="errors">
                  <label *ngIf="updateAutoTestConfigEnvironmentId.errors?.required">Test environment is required. You need to add your test environment as a Material first.</label>
                </div>
              </div>

              <ng-container *ngIf="updateAutoTestConfigForm.type=='docker'">
                <div class="field">
                  <div class="ui input checkbox" (click)="checkboxUpdateAutoTestConfigDockerAutoRemove.click()">
                    <input type="checkbox" tabindex="0" class="hidden" #checkboxUpdateAutoTestConfigDockerAutoRemove name="docker_auto_remove" [(ngModel)]="updateAutoTestConfigForm.docker_auto_remove">
                    <label>Docker Auto Remove?</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui input checkbox" (click)="checkboxUpdateAutoTestConfigDockerNetwork.click()">
                    <input type="checkbox" tabindex="0" class="hidden" #checkboxUpdateAutoTestConfigDockerNetwork name="docker_network" [(ngModel)]="updateAutoTestConfigForm.docker_network">
                    <label>Docker Network Access Allowed?</label>
                  </div>
                </div>
                <div class="field">
                  <label>Docker CPUs</label>
                  <input type="number" min="1" name="docker_cpus" [(ngModel)]="updateAutoTestConfigForm.docker_cpus" placeholder="Limit number of CPUs (can be a float number). Empty field means no limit on cpu.">
                </div>
                <div class="field">
                  <label>Docker Memory (unit: MB)</label>
                  <input type="number" step="1" min="1" name="docker_memory" [(ngModel)]="updateAutoTestConfigForm.docker_memory" placeholder="Limit size of memory (must be an integer). Empty field means no limit on memory.">
                </div>
              </ng-container>

              <div class="field">
                <label>Result Render HTML</label>
                <textarea name="result_render_html" rows="6" [(ngModel)]="updateAutoTestConfigForm.result_render_html" placeholder="HTML for rendering test results. If this is empty, the raw result will be displayed."></textarea>
              </div>
              <div class="field">
                <label>Result Conclusion Type</label>
                <select name="result_conclusion_type" [(ngModel)]="updateAutoTestConfigForm.result_conclusion_type">
                  <optgroup label="Numeric">
                    <option value="int">Integer</option>
                    <option value="float">Float</option>
                    <option value="bool">Boolean</option>
                  </optgroup>
                  <optgroup label="Text/Object">
                    <option value="string">String</option>
                    <option value="json">JSON</option>
                  </optgroup>
                </select>
              </div>
              <div class="field">
                <label>Result Conclusion Path</label>
                <input type="text" name="result_conclusion_path" [(ngModel)]="updateAutoTestConfigForm.result_conclusion_path" placeholder="Path of the conclusion in the result object. Empty path means the whole result is the conclusion.">
              </div>
              <div class="field">
                <label>Result Conclusion Accumulate Method</label>
                <select name="results_conclusion_accumulate_method" [(ngModel)]="updateAutoTestConfigForm.results_conclusion_accumulate_method">
                  <option value="first">Use First Submission</option>
                  <option value="last">Use Last Submission</option>
                  <ng-container *ngIf="updateAutoTestConfigForm.result_conclusion_type=='int' || updateAutoTestConfigForm.result_conclusion_type=='float'">
                    <option value="highest" >Use Highest Submission</option>
                    <option value="lowest">Use Lowest Submission</option>
                    <option value="average">Use Average Among Submissions</option>
                  </ng-container>
                  <ng-container *ngIf="updateAutoTestConfigForm.result_conclusion_type=='bool'">
                    <option value="and">Use Logical AND among Submission</option>
                    <option value="or">Use Logical OR among Submission</option>
                  </ng-container>
                </select>
              </div>
              <button class="ui fluid primary button" type="submit">Update Configuration</button>
            </form>
          </ng-template>
        </ng-container>

        <ng-template #noAutoTestEvaluation>
          <div class="ui info message">
            <div class="header"><i class="icon circle info"></i> Auto Test Evaluation is disabled</div>
            <p>Please choose <b>Auto Testing</b> as the evaluation method in the basic settings first.</p>
          </div>
        </ng-template>
      </div>
      <!-- End of AutoTestConfig tab -->

      <!-- Special considerations tab -->
      <div class="ui tab" [ngClass]="{'active': activeTab=='special_considerations'}">
        <table class="ui table unstackable celled bottom attached">
          <thead><tr><th>ID</th><th>User/Team</th><th>Due Time Extension (hours)</th><th>Submission Attempt Limit Extension</th><th>Ops</th></tr></thead>
          <tbody>
          <tr *ngFor="let spec of task.special_considerations; index as i">
            <td>{{spec.id}}</td>
            <td>
              <a *ngIf="spec.user" href="admin/users/{{spec.user_id}}" target="_blank">
                <span *ngIf="spec.user.nickname; else nameOnly">{{spec.user.nickname}} ({{spec.user.name}})</span>
                <ng-template #nameOnly>{{spec.user.name}}</ng-template>
              </a>
              <a *ngIf="spec.team" routerLink="/terms/{{task.term_id}}/tasks/{{taskId}}/teams/{{spec.team_id}}">
                {{spec.team.name}}
              </a>
            </td>
            <td>{{spec.due_time_extension}}</td>
            <td>{{spec.submission_attempt_limit_extension}}</td>
            <td>
              <a class="ui icon button mini red" (click)="deleteSpecialConsideration(spec, i ,btnDeleteSpecialConsideration)" #btnDeleteSpecialConsideration><i class="icon trash"></i></a>
            </td>
          </tr>
          </tbody>
        </table>

        <!--Start of New Special Consideration-->
        <div class="ui centered stackable grid">
          <div class="ten wide column">
            <div class="ui segments">
              <div class="ui segment">
                <h4 class="ui header">
                  <i class="icons">
                    <i class="icon heart outline"></i>
                    <i class="icon right bottom corner plus"></i>
                  </i>
                  New Special Consideration
                </h4>
              </div>
              <div class="ui segment">
                <form class="ui form" #fNewSpecialConsideration="ngForm" (ngSubmit)="addSpecialConsideration(fNewSpecialConsideration)" [ngClass]="{'loading': addingSpecialConsideration}">
                  <div class="field" *ngIf="!task.is_team_task" [ngClass]="{'error': (fNewSpecialConsideration.submitted || sepcialUserNameModel.dirty || sepcialUserNameModel.touched) && sepcialUserNameModel.invalid}">
                    <label>User Name</label>
                    <input type="text" [(ngModel)]="newSpecialConsideration.user_name" name="user_name" required #sepcialUserNameModel="ngModel" placeholder="Name of user">
                    <div class="errors">
                      <label *ngIf="sepcialUserNameModel.errors?.required">User name is required</label>
                    </div>
                  </div>
                  <div class="field" *ngIf="task.is_team_task" [ngClass]="{'error': (fNewSpecialConsideration.submitted || specialTeamNameModel.dirty || specialTeamNameModel.touched) && specialTeamNameModel.invalid}">
                    <label>Team Name</label>
                    <input type="text" [(ngModel)]="newSpecialConsideration.team_name" name="team_name" required #specialTeamNameModel="ngModel" placeholder="Name of team">
                    <div class="errors">
                      <label *ngIf="specialTeamNameModel.errors?.required">Team name is required</label>
                    </div>
                  </div>
                  <div class="field">
                    <label>Due Time Extension (hours)</label>
                    <input type="number" min="0" step="1" [(ngModel)]="newSpecialConsideration.due_time_extension" name="due_time_extension" placeholder="Extension of due time (in hours)">
                  </div>
                  <div class="field">
                    <label>Submission Attempt Limit Extension</label>
                    <input type="number" min="0" step="1" [(ngModel)]="newSpecialConsideration.submission_attempt_limit_extension" name="submission_attempt_limit_extension" placeholder="Extension of submission attempt limit">
                  </div>
                  <button type="submit" class="ui button primary fluid">Add Special Consideration</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--End of New Special Consideration-->
      </div>
      <!-- End of Special considerations tab -->
    </div>
    <!-- End of Right tab container -->
  </div>

</ng-container>
