<app-error-message [error]="error"></app-error-message>
<app-success-message [success]="success"></app-success-message>

<div class="ui text loader active" *ngIf="loadingTask">Loading task info...</div>

<div class="ui grid stackable" *ngIf="task">
  <div class="row">
    <div class="column">
      <div class="ui breadcrumb">
        <a class="section" routerLink="../../courses">Courses</a>
        <i class="icon right angle divider"></i>
        <a class="section" routerLink="../../courses/{{ task.term.course.id }}">{{ task.term.course.code }}</a>
        <i class="icon right angle divider"></i>
        <a class="section" routerLink="../../terms/{{ task.term.id }}">{{ task.term.year }} Semester {{ task.term.semester }}</a>
        <i class="icon right angle divider"></i>
        <div class="section active">{{ task.title }}</div>
      </div>
    </div>
  </div>

  <!-- Left Panel -->
  <div class="five wide column">
    <div class="ui segments">
      <!-- Header -->
      <div class="ui clearing segment">
        <a routerLink="/terms/{{task.term_id}}/tasks/{{task.id}}" class="ui right floated button mini">
          <i class="icon eye"></i> View
        </a>
        <div class="ui header left floated">
          <i class="icon" [ngClass]="categories[task.type].icon"></i>
          {{  task.title }}
        </div>
      </div>
      <!-- End of Header -->

      <!-- Basic info -->
      <div class="ui segment">
        <div class="ui list horizontal">
          <div class="item">
            <div class="header">ID</div>
            {{ task.id }}
          </div>
          <div class="item">
            <div class="header">Course</div>
            <a routerLink="../../courses/{{ task.term.course.id }}">{{ task.term.course.code }}</a>
          </div>
          <div class="item">
            <div class="header">Term</div>
            <a routerLink="../../terms/{{ task.term.id }}">{{ task.term.year }} Semester {{ task.term.semester }}</a>
          </div>
        </div>
      </div>
      <!-- End of Basic info -->

      <div class="ui segment">
        <form class="ui form" [ngClass]="{'loading': updating}" (ngSubmit)="update(f)" #f="ngForm">
          <div class="field required">
            <label>Task Type</label>
            <select name="type" [(ngModel)]="form.type" required>
              <option value="lab">Lab</option>
              <option value="assignment">Assignment</option>
              <option value="project">Project</option>
            </select>
          </div>
          <div class="field required" [ngClass]="{'error': (f.submitted||titleModel.dirty||titleModel.touched) && titleModel.invalid}">
            <label>Title</label>
            <input type="text" name="title" [(ngModel)]="form.title" #titleModel="ngModel" placeholder="Title of the task (at most 128 characters)" required maxlength="128">
            <div class="errors">
              <label *ngIf="titleModel.errors?.required">Title is required</label>
              <label *ngIf="titleModel.errors?.maxlength">Title is too long</label>
            </div>
          </div>
          <div class="field">
            <label>Description (Optional)</label>
            <textarea name="description" rows="6" [(ngModel)]="form.description" placeholder="Short description of the task"></textarea>
          </div>
          <div class="field">
            <label>Open Time</label>
            <input type="datetime-local" name="open_time" [(ngModel)]="form.open_time">
          </div>
          <div class="field">
            <label>Due Time</label>
            <input type="datetime-local" name="due_time" [(ngModel)]="form.due_time">
          </div>
          <div class="field">
            <label>Close Time</label>
            <input type="datetime-local" name="close_time" [(ngModel)]="form.close_time">
          </div>
          <div class="field">
            <label>Late Penalty (per day)</label>
            <input type="number" step="0.01" min="0" max="1" name="late_penalty" [(ngModel)]="form.late_penalty">
          </div>
          <div class="field">
            <div class="ui input checkbox" (click)="checkboxIsTeamTask.click()">
              <input type="checkbox" name="is_team_task" [(ngModel)]="form.is_team_task" class="hidden" #checkboxIsTeamTask>
              <label>Team task?</label>
            </div>
          </div>
          <div class="fields" *ngIf="form.is_team_task">
            <div class="eight wide field">
              <label>Team Min Size</label>
              <input type="number" min="1" max="10" placeholder="Minimal number of members" name="team_min_size" [(ngModel)]="form.team_min_size" step="1">
            </div>
            <div class="eight wide field">
              <label>Team Max Size</label>
              <input type="number" min="1" max="10" placeholder="Maximal number of members" name="team_max_size" [(ngModel)]="form.team_max_size" step="1">
            </div>
          </div>
          <div class="field">
            <label>Submission Limit</label>
            <input type="number" min="1" placeholder="Maximal number of submissions for one submitter" name="submission_limit" [(ngModel)]="form.submission_limit" step="1">
          </div>
          <div class="field">
            <label>Submission History Limit</label>
            <input type="number" min="1" placeholder="Maximal number of submissions history for one submitter" name="submission_history_limit" [(ngModel)]="form.submission_history_limit" step="1">
          </div>
          <button class="ui button primary fluid" type="submit">Update</button>
        </form>
      </div>
    </div>

  </div>
  <!-- End of Left Panel -->

  <!-- Right Panel -->
  <div class="eleven wide column">

    <!--Start of Materials-->
    <div class="ui segment top attached">
      <h4 class="ui header">
        <i class="icon copy"></i>
        Materials
      </h4>
    </div>
    <table class="ui bottom attached table celled unstackable">
      <thead><tr><th>ID</th><th>Type</th><th>Name</th><th>Updated At</th><th>Description</th><th>Ops</th></tr></thead>
      <tbody>
      <tr *ngFor="let mat of task.materials; index as i">
        <td>{{ mat.id }}</td>
        <td>{{ mat.type | titlecase }}</td>
        <td>{{ mat.name }}</td>
        <td>{{ mat.modified_at | date: 'short' }}</td>
        <td>{{ mat.description }}</td>
        <td>
          <div class="ui small buttons">
            <a href="api/admin/materials/{{ mat.id }}/download" class="ui button icon"><i class="icon download"></i></a>
            <a class="ui button red icon" (click)="deleteMaterial(mat, i, btnDeleteMaterial)" #btnDeleteMaterial><i class="icon trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--End of Materials-->

    <!--Start of Requirements-->
    <div class="ui segment top attached">
      <h4 class="ui header">
        <i class="icon copy outline"></i>
        Requirements
      </h4>
    </div>
    <table class="ui bottom attached table celled unstackable">
      <thead><tr><th>ID</th><th>Name</th><th>Updated At</th><th>Description</th><th>Optional?</th><th>Size Limit</th><th>Ops</th></tr></thead>
      <tbody>
      <tr *ngFor="let req of task.file_requirements; index as i">
        <td>{{ req.id }}</td>
        <td>{{ req.name }}</td>
        <td>{{ req.modified_at | date: 'short'}}</td>
        <td>{{ req.description }}</td>
        <td>{{ req.is_optional }}</td>
        <td>
          <span *ngIf="req.size_limit!=null; else sizeNoLimit">{{ req.size_limit | size }}</span>
          <ng-template #sizeNoLimit>(No limit)</ng-template>
        </td>
        <td>
          <a class="ui button small red icon" (click)="deleteFileRequirement(req, i, btnDeleteFileRequirement)" #btnDeleteFileRequirement><i class="icon trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <!--End of Requirements-->

    <app-error-message [error]="secondaryError"></app-error-message>

    <div class="ui grid two column stackable">
      <div class="column">
        <!--Start of New Material-->
        <div class="ui segments">
          <div class="ui segment">
            <h4 class="ui header">
              <i class="icons">
                <i class="icon file"></i>
                <i class="icon plus right bottom corner"></i>
              </i>
              New Material
            </h4>
          </div>
          <div class="ui segment">
            <div class="ui top attached progress" *ngIf="addingMaterial">
              <div class="bar" [ngStyle]="{'width.%': materialUploadProgress}"></div>
            </div>
            <form class="ui form" [ngClass]="{'loading': addingMaterial}" #fNewMaterial="ngForm" (ngSubmit)="addMaterial(fNewMaterial, inputMaterialFile.files)">
              <div class="field required" [ngClass]="{'error': materialTypeModel.invalid && (materialTypeModel.touched || materialTypeModel.dirty || fNewMaterial.submitted)}">
                <label>Material Type</label>
                <select name="type" [(ngModel)]="newMaterialForm.type" required #materialTypeModel="ngModel">
                  <option value="specification">Specification</option>
                  <option value="code">Code</option>
                  <option value="data">Data</option>
                  <option value="solution">Solution</option>
                  <option value="other">Other</option>
                </select>
                <div class="errors">
                  <label *ngIf="materialTypeModel.errors?.required">Material type is required</label>
                </div>
              </div>
              <div class="field required" [ngClass]="{'error': (materialFileModel.invalid && (materialFileModel.touched || materialFileModel.dirty || fNewMaterial.submitted))}">
                <label>File</label>
                <input type="file" name="file" (change)="updateFileName(inputMaterialFile.files)" #inputMaterialFile #materialFileModel="ngModel" required [(ngModel)]="materialFakePath">
                <div class="errors">
                  <label *ngIf="materialFileModel.errors?.required">Material file is required</label>
                </div>
              </div>
              <div class="field">
                <div class="ui input checkbox" (click)="checkboxUseFileName.click()">
                  <input type="checkbox" class="hidden" tabindex="0" #checkboxUseFileName name="useFileName" [(ngModel)]="materialUseOriginalName">
                  <label>Use original file name</label>
                </div>
              </div>
              <div class="field required" *ngIf="!materialUseOriginalName" [ngClass]="{'error': materialNameModel.invalid && (fNewMaterial.submitted || materialNameModel.touched || materialNameModel.dirty)}">
                <label>File Name</label>
                <input type="text" name="name" required maxlength="128" pattern="^[^\s?#/\\|()&]+$"
                       [(ngModel)]="newMaterialForm.name" #materialNameModel="ngModel">
                <div class="errors">
                  <label *ngIf="materialNameModel.errors?.required">File name is required</label>
                  <label *ngIf="materialNameModel.errors?.maxlength">File name is too long</label>
                  <label *ngIf="materialNameModel.errors?.pattern">Invalid name format</label>
                </div>
              </div>
              <div class="field">
                <label>Description (Optional)</label>
                <textarea name="description" rows="3" [(ngModel)]="newMaterialForm.description" placeholder="Description of the material"></textarea>
              </div>
              <button class="ui fluid primary button" type="submit">Add Material</button>
            </form>
          </div>
        </div>
        <!--End of New Material-->
      </div>
      <div class="column">
        <!--Start of New Requirement-->
        <div class="ui segments">
          <div class="ui segment">
            <h4 class="ui header">
              <i class="icons">
                <i class="icon file outline"></i>
                <i class="icon plus right bottom corner"></i>
              </i>
              New Requirement
            </h4>
          </div>
          <div class="ui segment">
            <form class="ui form" #fNewFileRequirement="ngForm" (ngSubmit)="addFileRequirement(fNewFileRequirement)" [ngClass]="{'loading': addingFileRequirement}">
              <div class="field required" [ngClass]="{'error': (fNewFileRequirement.submitted ||fileRequirementNameModel.dirty||fileRequirementNameModel.touched) && fileRequirementNameModel.invalid}">
                <label>File Name</label>
                <input type="text" name="name" placeholder="Name of the required file (at most 128 characters)"
                       [(ngModel)]="newFileRequirementForm.name" #fileRequirementNameModel="ngModel"
                       required maxlength="128" pattern="^[^\s?#/\\|()&]+$">
                <div class="errors">
                  <label *ngIf="fileRequirementNameModel.errors?.required">Name is required</label>
                  <label *ngIf="fileRequirementNameModel.errors?.maxlength">Name is too long</label>
                  <label *ngIf="fileRequirementNameModel.errors?.pattern">Invalid name format</label>
                </div>
              </div>
              <div class="field">
                <div class="ui input checkbox" (click)="checkboxRequirementIsOptional.click()">
                  <input type="checkbox" tabindex="0" class="hidden" #checkboxRequirementIsOptional name="is_optional" [(ngModel)]="newFileRequirementForm.is_optional">
                  <label>Optional</label>
                </div>
              </div>
              <div class="field">
                <label>Size Limit (Unit: Bytes) (Optional)</label>
                <input type="number" min="1" name="size_limit" [(ngModel)]="newFileRequirementForm.size_limit" placeholder="Size limit of the uploaded file">
              </div>
              <div class="field">
                <label>Description (Optional)</label>
                <textarea name="description" rows="3" [(ngModel)]="newFileRequirementForm.description" placeholder="Description of the file"></textarea>
              </div>
              <button class="ui fluid primary button" type="submit">Add Requirement</button>
            </form>
          </div>
        </div>
        <!--End of New Requirement-->
      </div>
    </div>

  </div>
  <!-- End of Right Panel -->
</div>
