<div class="header container">
  <h1 class="ui header">
    <i class="icon map outline"></i> <ng-container i18n>Tasks</ng-container>
  </h1>
</div>
<div class="ui divider"></div>

<div class="main container">
  <div class="ui grid stackable">
    <div class="column">

      <app-error-message [error]="error"></app-error-message>
      <div class="ui text loader active" *ngIf="loadingTasks" i18n>Loading tasks...</div>

      <ng-container *ngIf="tasks">
        <ng-container *ngIf="tasks.length > 0; else noTasks">
          <div class="task-category" *ngFor="let item of taskCategories | keyvalue">
            <div class="ui header">
              <i class="icon" [ngClass]="categories[item.key].icon"></i>
              {{ categories[item.key].name }}
            </div>
            <div class="ui two column grid stackable">
              <div class="task column" *ngFor="let task of item.value">
                <div class="ui fluid card raised">
                  <div class="content">
                    <div class="marks stamp" *ngIf="task._marks">
                      {{task._marks.marks}}
                    </div>
                    <div class="header">{{ task.title }}</div>
                    <div class="description">
                      <p class="task-description" *ngIf="task.description">
                        {{ task.description.split('\n', 1)[0] }}
                      </p>
                      <div class="ui list">
                        <div class="item">
                          <i class="icon clock outline"></i>
                          <div class="content">
                            <ng-container i18n>Open</ng-container>: <span *ngIf="task.open_time; else timeTbd">{{ task.open_time|date:'short' }} ({{task._open_time_from_now}})</span>
                          </div>
                        </div>
                        <div class="item">
                          <i class="icon clock"></i>
                          <div class="content">
                            <ng-container i18n>Due</ng-container>: <span *ngIf="task.due_time; else timeTbd">{{ task.due_time|date:'short' }} ({{task._due_time_from_now}})</span>
                          </div>
                        </div>
                        <div class="item" *ngIf="task.is_team_task">
                          <i class="icon users"></i>
                          <div class="content">
                            <ng-container i18n>Team task</ng-container> (<ng-container i18n>team size</ng-container>: {{printTaskTeamSize(task)}})
                          </div>
                        </div>
                        <div class="item" *ngIf="task.is_team_task">
                          <i class="icon hand paper outline"></i>
                          <div class="content">
                            <ng-container i18n>Team join close</ng-container>: <span *ngIf="task.team_join_close_time; else timeTbd">{{ task.team_join_close_time|date:'short' }} ({{task._team_join_close_time_from_now}})</span>
                          </div>
                        </div>
                      </div>
                      <ng-template #timeTbd><ng-container i18n>TBD</ng-container></ng-template>
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="ui buttons fluid" *ngIf="task._accessible; else previewBtn">
                      <a routerLink="{{ task.id }}" class="ui primary button"><i class="icon list"></i> <ng-container i18n>Details</ng-container></a>
                      <a routerLink="{{ task.id }}/submit" class="ui button" *ngIf="accessRoles.has('student')"><i class="icon paper plane outline"></i> <ng-container i18n>Submit</ng-container></a>
                      <a routerLink="/admin/tasks/{{ task.id }}" class="ui button" *ngIf="accessRoles.has('admin')"><i class="icon cog"></i> <ng-container i18n>Configs</ng-container></a>
                    </div>
                    <ng-template #previewBtn>
                      <a routerLink="../tasks-preview/{{ task.id }}" class="ui button fluid"><i class="icon eye"></i> <ng-container i18n>Preview</ng-container></a>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noTasks>
          <div class="ui segment placeholder">
            <div class="ui icon header">
              <i class="icon coffee"></i>
              <ng-container i18n>There is no task created yet.</ng-container>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
