:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header.container{
  padding: 3em 3em 0;
}
.main.container{
  margin: 0 3em;
  flex: 1;
  &>.grid{
    height: 100%;
  }
}
.task.column{
  max-width: 400px;
}
.task-category{
  margin-bottom: 3em;
  &:last-child{
    margin-bottom: 0;
  }
}
.task-description{
  white-space: pre-line;
}

@media (max-width: 767px){
  .header.container{
    padding: 3em 1em 0;
  }
  .main.container{
    margin: 0;
  }
  .task.column{
    max-width: none;
  }
}

.marks.stamp{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2.5rem;
  color: red;
  border: solid 2px;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  transform: rotate(30deg);
  text-align: center;
  line-height: 5rem;
  opacity: 0.7;
}
