.field .errors{
  display: none;
}
.field.error .errors{
  display: block;
  &>label{
    display: block;
  }
}

.ui.vertical.menu .item>img {
  width: 1.18em + 0.5em;
  height: auto;
  float: right;
  margin: -0.25em 0 0 .5em;
}

.ui.container.full-height {
  height: 100%;
  > .grid {
    height: 100%;
  }
}
