.field .errors{
  display: none;
}
.field.error .errors{
  display: block;
  &>label{
    display: block;
  }
}

.top.fixed.message.container{
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  &>.content{
    max-width: 350px;
    margin: 0 auto;
    z-index: 99;
  }
}

.ui.vertical.menu .item>img {
  width: 1.18em + 0.5em;
  height: auto;
  float: right;
  margin: -0.25em 0 0 .5em;
}

.ui.container.full-height {
  height: 100%;
  > .grid {
    height: 100%;
  }
}
