<div class="ui summary segment" [class.admin]="isAdmin" [ngClass]="getStatusClass(test.final_state || test.state)">
  <a class="ui bottom attached toggle label" (click)="toggleDetails()" [ngClass]="{'activated': showDetails}">
    <ng-container *ngIf="showDetails; else detailsHidden">
      <i class="icon chevron up" ></i> <ng-container i18n>Hide Details</ng-container> <i class="icon chevron up" ></i>
    </ng-container>
    <ng-template #detailsHidden>
      <i class="icon chevron down" ></i> <ng-container i18n>Show Details</ng-container> <i class="icon chevron down" ></i>
    </ng-template>
  </a>
  <a class="ui right corner red label" (click)="deleteAutoTest(test, btnDeleteAutoTest)" #btnDeleteAutoTest *ngIf="isAdmin">
    <i class="icon trash"></i>
  </a>

  <div class="conclusion">
    <div class="ui segment inverted compact center aligned" [ngClass]="getStatusClass(test.final_state || test.state)">
      <div class="ui label bottom attached">ID: {{test.id}}</div>
      <div class="ui statistic inverted">
        <ng-container *ngIf="(test.final_state || test.state) == 'SUCCESS'">
          <ng-container *ngIf="test.result != null && extractConclusion(test, config) != null; else noConclusion">
            <div class="marks-indicator" *ngIf="(config.result_conclusion_type == 'int' || config.result_conclusion_type == 'float') && config.result_conclusion_full_marks">
              <div class="inner" [ngStyle]="{'height.%': 100*(1-extractConclusion(test, config)/config.result_conclusion_full_marks)}"></div>
            </div>
            <div class="value" [ngClass]="config.result_conclusion_type">
              {{printConclusion(test, config)}}
            </div>
          </ng-container>
          <ng-template #noConclusion>
            <div class="value">
              <i class="icon question circle"></i>
            </div>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="(test.final_state || test.state) == 'FAILURE'">
          <div class="value">
            <i class="icon times circle"></i>
          </div>
        </ng-container>

        <ng-container *ngIf="(test.final_state || test.state) == 'PENDING'">
          <div class="value">
            <i class="icon hourglass"></i>
          </div>
        </ng-container>

        <ng-container *ngIf="(test.final_state || test.state) == 'STARTED'">
          <div class="value">
            <i class="icon notch circle loading"></i>
          </div>
        </ng-container>

        <ng-container *ngIf="(test.final_state || test.state) == 'RETRY'">
          <div class="value">
            <i class="icon triangle exclamation"></i>
          </div>
        </ng-container>

        <ng-container *ngIf="(test.final_state || test.state) == 'REVOKED'">
          <div class="value">
            <i class="icon trash"></i>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="content">
    <ng-container *ngIf="(test.final_state || test.state) == 'SUCCESS'">
      <ng-container *ngIf="test.result != null && config.result_render_html && extractConclusion(test, config) != null; else noHTMLRender">
        <div [innerHTML]="renderResultHTML(test, config)"></div>
      </ng-container>
      <ng-template #noHTMLRender>
        <pre class="code"><code>{{test.result|json}}</code></pre>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="(test.final_state || test.state) == 'FAILURE'">
      <div class="ui header">{{test.exception_class}}</div>
      <div class="description">{{test.exception_message}}</div>
    </ng-container>

    <ng-container *ngIf="(test.final_state || test.state) == 'PENDING'">
      <div class="pending-loader-wrapper">
        <div class="ui text loader active inline centered">
          <ng-container i18n>Waiting for worker bot...</ng-container>
          <ng-container *ngIf="test.pending_tests_ahead">
            <br/>
            {{test.pending_tests_ahead}}
            <ng-container *ngIf="test.pending_tests_ahead==1; else multiPendingAhead">test</ng-container>
            <ng-template #multiPendingAhead>tests</ng-template>
            ahead in the queue
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(test.final_state || test.state) == 'STARTED'">
      <div class="ui small timer statistics" *ngIf="test._elapse_seconds!==undefined">
        <div class="statistic">
          <div class="value">{{test._elapse_hours|number:'2.0-0'}}</div>
          <div class="label" i18n>Hours</div>
        </div>
        <div class="statistic">
          <div class="value">{{test._elapse_minutes|number:'2.0-0'}}</div>
          <div class="label" i18n>Minutes</div>
        </div>
        <div class="statistic">
          <div class="value">{{test._elapse_seconds|number:'2.0-0'}}</div>
          <div class="label" i18n>Seconds</div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(test.final_state || test.state) == 'RETRY'">
      <div class="ui text loader active" i18n>Retrying...</div>
    </ng-container>

    <ng-container *ngIf="(test.final_state || test.state) == 'REVOKED'">
      <div class="ui header" i18n>Test has been revoked.</div>
    </ng-container>
  </div>
</div>

<div class="ui segment details" *ngIf="showDetails" #detailsPanel>
  <div class="ui list horizontal">
    <div class="item">
      <div class="header" i18n>State</div>
      <span [ngStyle]="{'color': getStatusColor(test.final_state || test.state)}">
        {{test.final_state || test.state}}
      </span>
    </div>
    <div class="item" *ngIf="test.work_id">
      <div class="header" i18n>Work ID</div>
      {{test.work_id}}
    </div>
    <div class="item" *ngIf="test.hostname">
      <div class="header" i18n>Worker</div>
      {{test.hostname}}
    </div>
    <div class="item" *ngIf="test.pid">
      <div class="header" i18n>PID</div>
      {{test.pid}}
    </div>
  </div>

  <div class="ui list horizontal">
    <div class="item">
      <div class="header" i18n>Created At</div>
      {{test.created_at | date: 'medium'}}
    </div>
    <div class="item">
      <div class="header" i18n>Started At</div>
      <span *ngIf="test.started_at; else noStartTime">{{test.started_at | date: 'medium'}}</span>
      <ng-template #noStartTime>N/A</ng-template>
    </div>
    <div class="item">
      <div class="header" i18n>Stopped At</div>
      <span *ngIf="test.stopped_at; else noStopTime">{{test.stopped_at | date: 'medium'}}</span>
      <ng-template #noStopTime>N/A</ng-template>
    </div>
    <div class="item">
      <div class="header" i18n>Duration</div>
      <span *ngIf="test.started_at && test.stopped_at; else noDuration">{{computeDuration(test.started_at, test.stopped_at)}}</span>
      <ng-template #noDuration>N/A</ng-template>
    </div>
  </div>

  <ng-container *ngIf="(test.final_state || test.state) == 'FAILURE' || (test.final_state || test.state) == 'SUCCESS'">
    <div *ngIf="test.exception_traceback">
      <div class="ui divider horizontal">Exception Traceback</div>
      <pre class="code"><code>{{test.exception_traceback}}</code></pre>
    </div>
    <div *ngIf="test.result != null && config.result_render_html && extractConclusion(test, config) != null">
      <div class="ui divider horizontal" i18n>Raw Result</div>
      <pre class="code"><code>{{test.result|json}}</code></pre>
    </div>
    <div *ngIf="test.output_files && test.output_files.length">
      <div class="ui divider horizontal" i18n>Output Files</div>
      <table class="ui table unstackable">
        <thead><tr><th>#</th><th>ID</th><th i18n>Path</th><th i18n>Created At</th><th i18n>Operations</th></tr></thead>
        <tbody>
        <tr *ngFor="let file of test.output_files; index as j">
          <td>{{j+1}}</td>
          <td>{{file.id}}</td>
          <td>{{file.path}}</td>
          <td>{{file.created_at | date: 'medium'}}</td>
          <td>
            <div class="ui small buttons">
              <a class="ui button icon" title="View" target="_blank" href="api/submissions/{{test.submission_id}}/auto-tests/{{test.id}}/output-files/{{file.id}}/raw">
                <i class="icon eye"></i>
              </a>
              <a class="ui button icon" title="Download" href="api/submissions/{{test.submission_id}}/auto-tests/{{test.id}}/output-files/{{file.id}}/download">
                <i class="icon download"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
