<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>

  <ng-container *ngIf="comments">
    <div class="ui message info" *ngIf="!isAdminOrTutor && !comments.length">
      <div class="header">Need Help?</div>
      <ul class="list">
        <li>You may add a comment to request the tutors' help or report any technical problems for <b>this particular submission</b>.</li>
        <li><b>Do not</b> put any generic questions here. Other course management system, e.g. Piazza, is the right place for discussing and <b>sharing</b> those questions.</li>
        <li>These comments are only visible to {{task.is_team_task ? 'your team': 'you'}}, the tutors and the system administrators.</li>
      </ul>
    </div>
    <div class="comment" *ngFor="let comment of comments; index as i">
      <div class="avatar">
        <ng-container *ngIf="comment.author; else sysAvatar">
          <ng-container *ngIf="comment.author.avatar; else authorNoAvatar">
            <img src="{{comment.author.avatar}}?size=64">
          </ng-container>
        </ng-container>
        <ng-template #sysAvatar><img src="static/assets/logo-64.png"></ng-template>
        <ng-template #authorNoAvatar><i class="icon big user circle"></i></ng-template>
      </div>
      <div class="content">
      <span class="author">
        <ng-container *ngIf="comment.author; else sysName">
          <app-user-mini-card [user]="comment.author" [enablePopup]="true" [enableAvatar]="false" [enableAdmin]="isAdmin"></app-user-mini-card>
        </ng-container>
        <ng-template #sysName>System</ng-template>
      </span>
        <div class="metadata">
          <span class="date">{{comment.modified_at|date:'medium'}}</span>
          <span class="date" *ngIf="comment._modified_at_from_now">({{comment._modified_at_from_now}})</span>
        </div>
        <div class="text">{{comment.content}}</div>
        <div class="actions" *ngIf="isAdminOrTutor && user.id == comment.author_id">
          <a class="edit" (click)="editComment(comment)">Edit</a>
          <a class="delete" (click)="removeComment(comment, btnRemoveComment, i)" #btnRemoveComment></a>
        </div>
        <form *ngIf="comment._editing" class="ui reply form" #fUpdate="ngForm" (ngSubmit)="updateComment(fUpdate, comment)"
              [ngClass]="{'loading': comment._updating}">
          <div class="field">
            <textarea [(ngModel)]="comment._editor_content" name="content" required #updateEditorContentModel="ngModel"
                placeholder="Your comment...(at most 512 characters)" maxlength="512"></textarea>
          </div>
          <div class="ui message info"><i class="icon info circle"></i> The E-mails and messages that contain this comment will not be updated.</div>
          <button type="submit" class="ui button green"
                  [ngClass]="{'disabled': updateEditorContentModel.invalid && (updateEditorContentModel.touched || updateEditorContentModel.dirty || fUpdate.submitted)}">
            <i class="icon check"></i> Save
          </button>
          <button type="button" class="ui button red" (click)="cancelEditComment(comment)">
            <i class="icon times"></i> Cancel
          </button>
        </form>
      </div>
    </div>
  </ng-container>

  <form class="ui reply form" #f="ngForm" (ngSubmit)="addComment(f)" [ngClass]="{'loading': addingComment}">
    <div class="field">
      <textarea [(ngModel)]="editorContent" name="content" required #editorContentModel="ngModel"
                placeholder="Your comment...(at most 512 characters)" maxlength="512"></textarea>
    </div>
    <button type="submit" class="ui labeled icon button primary"
            [ngClass]="{'disabled': editorContentModel.invalid && (editorContentModel.touched || editorContentModel.dirty || f.submitted)}">
      <i class="icon edit"></i> Add Comment
    </button>
  </form>
</div>
