<a class="ui right corner red label" (click)="deleteAutoTest(test, btnDeleteAutoTest)" #btnDeleteAutoTest *ngIf="isAdmin">
  <i class="icon trash"></i>
</a>
<div class="ui list horizontal">
  <div class="item">
    <div class="header">ID</div>
    {{test.id}}
  </div>
  <div class="item">
    <div class="header">Config</div>
    <span *ngIf="config">{{config.name}}</span>
    (ID: {{test.config_id}})
    <span *ngIf="config">
      <i title="Private" class="icon red lock" *ngIf="config.is_private; else auto_test_config_private"></i>
      <ng-template #auto_test_config_private>
        <i title="Public" class="icon green lock open"></i>
      </ng-template>
    </span>
  </div>
  <div class="item">
    <div class="header">Work ID</div>
    {{test.work_id}}
  </div>
  <div class="item">
    <div class="header">Worker</div>
    <span *ngIf="test.hostname; else noWorker">{{test.hostname}} (PID: {{test.pid}})</span>
    <ng-template #noWorker>(None)</ng-template>
  </div>
  <div class="item">
    <div class="header">State</div>
    <span [ngStyle]="{'color': getStatusColor(test.final_state || test.state)}">
        {{test.final_state || test.state}}
      </span>
  </div>
</div>

<div class="ui list horizontal">
  <div class="item">
    <div class="header">Created At</div>
    {{test.created_at | date: 'medium'}}
  </div>
  <div class="item">
    <div class="header">Updated At</div>
    {{test.modified_at | date: 'medium'}}
  </div>
  <div class="item">
    <div class="header">Started At</div>
    <span *ngIf="test.started_at; else noStartTime">{{test.started_at | date: 'medium'}}</span>
    <ng-template #noStartTime>N/A</ng-template>
  </div>
  <div class="item">
    <div class="header">Stopped At</div>
    <span *ngIf="test.stopped_at; else noStopTime">{{test.stopped_at | date: 'medium'}}</span>
    <ng-template #noStopTime>N/A</ng-template>
  </div>
</div>

<ng-container *ngIf="(test.final_state || test.state) == 'FAILURE' || (test.final_state || test.state) == 'SUCCESS'">
  <div *ngIf="test.exception_class">
    <div class="ui divider horizontal">Exception</div>
    <p><b>{{test.exception_class}}</b> {{test.exception_message}}</p>
    <pre class="code">{{test.exception_traceback}}</pre>
  </div>
  <div *ngIf="test.result != null">
    <div class="ui divider horizontal">Result</div>
    <p *ngIf="config">
      <b>Conclusion:</b> {{printConclusion(test, config)}}
    </p>
    <ng-container *ngIf="config && config.result_render_html && extractConclusion(test, config) != null; else noHTMLRender">
      <div class="ui menu secondary pointing">
        <a class="item" (click)="test._view_raw=false" [ngClass]="{'active': !test._view_raw}">Rendered</a>
        <a class="item" (click)="test._view_raw=true" [ngClass]="{'active': test._view_raw}">Raw</a>
      </div>
      <div class="ui tab" [ngClass]="{'active': !test._view_raw}" [innerHTML]="renderResultHTML(test, config)"></div>
      <div class="ui tab" [ngClass]="{'active': test._view_raw}">
        <pre class="code">{{test.result|json}}</pre>
      </div>
    </ng-container>
    <ng-template #noHTMLRender>
      <pre class="code">{{test.result|json}}</pre>
    </ng-template>
  </div>
  <div *ngIf="test.output_files.length">
    <div class="ui divider horizontal">Output Files</div>
    <table class="ui table unstackable">
      <thead><tr><th>#</th><th>ID</th><th>Path</th><th>Created At</th><th>Operations</th></tr></thead>
      <tbody>
      <tr *ngFor="let file of test.output_files; index as j">
        <td>{{j+1}}</td>
        <td>{{file.id}}</td>
        <td>{{file.path}}</td>
        <td>{{file.created_at | date: 'medium'}}</td>
        <td>
          <div class="ui small buttons">
            <a class="ui button icon" title="View" target="_blank" href="api/submissions/{{submission.id}}/auto-tests/{{test.id}}/output-files/{{file.id}}/raw">
              <i class="icon eye"></i>
            </a>
            <a class="ui button icon" title="Download" href="api/submissions/{{submission.id}}/auto-tests/{{test.id}}/output-files/{{file.id}}/download">
              <i class="icon download"></i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
