<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingTeamAssociation">Loading my team...</div>
<div class="ui loader text active" *ngIf="loadingTeam">Loading team info...</div>
<div class="ui loader text active" *ngIf="reloadingTeam">Reloading team info...</div>

<div *ngIf="team" [ngClass]="{'ui dimmable dimmed': reloadingTeam}">
  <div class="ui simple dimmer inverted"></div>
  <div class="ui message warning" *ngIf="teamAssociation.is_user_agreed && !teamAssociation.is_creator_agreed && !teamAssociation.is_invited">
    <i class="icon hourglass half"></i> Your join request is waiting for the team creator's approval.
    <button class="ui mini button" (click)="cancelJoin(btnCancelJoin)" #btnCancelJoin><i class="icon times"></i> Cancel Request</button>
  </div>

  <div class="ui grid stackable centered" *ngIf="!teamAssociation.is_user_agreed && teamAssociation.is_creator_agreed && teamAssociation.is_invited">
    <div class="column handle-invitation">
      <div class="ui segment">
        <div class="ui header">
          <i class="icon handshake outline"></i>
          Invitation
        </div>
        You have been invited to this team. You must accept or reject this invitation before any other team interactions.
        <div class="ui buttons">
          <a class="ui button green">Accept</a>
          <div class="or"></div>
          <a class="ui button red">Reject</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="team.creator_id==user.id">
    <div class="ui message warning" *ngIf="hasPendingRequests(); else noPendingRequest">
      <i class="icon hourglass half"></i> There are pending requests for you to resolve.
    </div>
    <ng-template #noPendingRequest>
      <ng-container *ngIf="!team.is_finalised">
        <div class="ui message info" *ngIf="beforeOpen; else creatorFinaliseHint">
          <i class="icon time outline"></i>
          Please wait for the opening time of this task and then finalise your team.
        </div>
        <ng-template #creatorFinaliseHint>
          <div class="ui message info">
            <i class="icon info circle"></i>
            Please finalise your team when you confirm the member list. Only after the team is finalised, the team members can make submissions for this task.
          </div>
        </ng-template>
      </ng-container>
    </ng-template>
  </div>

  <div class="ui message info" *ngIf="teamAssociation.is_user_agreed && teamAssociation.is_creator_agreed && team.creator_id!=user.id && !team.is_finalised">
    <i class="icon info circle"></i> Your team needs to be finalised by the team creator before you can make any submissions for this task.
  </div>

  <div class="ui header">
    <i class="icon users"></i>
    <div class="content">
      {{ team.name }}
      <div class="sub header" *ngIf="team.slogan">{{team.slogan}}</div>
    </div>
  </div>

  <div class="ui segment">
    <div class="ui list horizontal">
      <div class="item">
        <div class="header">ID</div>
        {{ team.id }}
      </div>
      <div class="item">
        <div class="header">Created At</div>
        {{team.created_at|date:'short'}}
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Status</div>
          <span *ngIf="!team.is_finalised; else alreadyFinalisedText"><i class="icon lock open green"></i> Open</span>
          <ng-template #alreadyFinalisedText><i class="icon lock"></i> Finalised</ng-template>
        </div>
      </div>
    </div>
  </div>

  <table class="ui unstackable table">
    <thead><tr><th>#</th><th>User</th><th>Requested At</th><th>Joined At</th><th>Status</th><th *ngIf="team.creator_id==user.id && !team.is_finalised">Operations</th></tr></thead>
    <tbody>
    <tr *ngFor="let ass of team.user_associations; index as i" [ngClass]="{'active': user.id==ass.user_id}">
      <td>{{i+1}}</td>
      <td>
        <img [src]="ass.user.avatar" *ngIf="ass.user.avatar; else defaultAvatar" class="ui image avatar">
        <ng-template #defaultAvatar><i class="icon user circle"></i></ng-template>
        <span *ngIf="ass.user.nickname; else nameOnly">{{ass.user.nickname}} ({{ass.user.name}})</span>
        <ng-template #nameOnly>{{ass.user.name}}</ng-template>
        &nbsp;<i class="icon star yellow" *ngIf="ass.user_id==team.creator_id" title="Creator"></i>
      </td>
      <td>{{ass.created_at|date:'short'}}</td>
      <td><span *ngIf="ass.is_creator_agreed&&ass.is_user_agreed">{{ass.modified_at|date:'short'}}</span></td>
      <td>
        <span *ngIf="ass.is_user_agreed && ass.is_creator_agreed"><i class="icon check green"></i> Member</span>
        <span *ngIf="ass.is_user_agreed && !ass.is_creator_agreed"><i class="icon hourglass half yellow"></i> Requesting</span>
        <span *ngIf="!ass.is_user_agreed && ass.is_creator_agreed"><i class="icon hourglass half yellow"></i> Inviting</span>
      </td>
      <td *ngIf="team.creator_id==user.id && !team.is_finalised">
        <div class="ui small buttons" *ngIf="ass.user_id != user.id && ass.is_creator_agreed && ass.is_user_agreed">
          <a class="ui icon button red" (click)="kickOut(ass.user, btnKickOut)" #btnKickOut><i class="icon times"></i> Kick Out</a>
        </div>
        <div class="ui small buttons" *ngIf="!ass.is_creator_agreed">
          <a class="ui icon button green" (click)="acceptJoin(ass.user, btnAcceptJoin)" #btnAcceptJoin><i class="icon check"></i> Accept</a>
          <a class="ui icon button red" (click)="rejectJoin(ass.user, btnRejectJoin)" #btnRejectJoin><i class="icon times"></i> Reject</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="ui grid stackable center aligned one column" *ngIf="!team.is_finalised">
    <div class="column team-operations" *ngIf="team.creator_id==user.id">
      <div class="ui buttons two">
        <a class="ui button primary" (click)="finaliseTeam(btnFinaliseTeam)" #btnFinaliseTeam [ngClass]="{'disabled': beforeOpen || hasPendingRequests()}">
          <i class="icon gavel"></i> Finalise Team
        </a>
        <a class="ui button red" (click)="dismissTeam(btnDismissTeam)" #btnDismissTeam>
          <i class="icon trash"></i> Dismiss Team
        </a>
      </div>
      <p *ngIf="hasPendingRequests(); else noPendingRequestFinaliseBtnHint">
        <i class="icon info circle"></i> You have to resolve all the pending requests before finalising the team.
      </p>
      <ng-template #noPendingRequestFinaliseBtnHint>
        <p *ngIf="beforeOpen">
          <i class="icon info circle"></i> You are not allowed to finalise your team before the opening time of this task.
        </p>
      </ng-template>
    </div>
    <div class="column team-operations" *ngIf="team.creator_id!=user.id && teamAssociation.is_user_agreed && teamAssociation.is_creator_agreed">
      <a class="ui button fluid red" (click)="leaveTeam(btnLeaveTeam)" #btnLeaveTeam><i class="icon sign out"></i> Leave Team</a>
    </div>
  </div>
</div>

