<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingTeamAssociation" i18n>Loading my team...</div>
<div class="ui loader text active" *ngIf="loadingTeam" i18n>Loading team info...</div>
<div class="ui loader text active" *ngIf="reloadingTeam" i18n>Reloading team info...</div>

<div *ngIf="team" [ngClass]="{'ui dimmable dimmed': reloadingTeam}">
  <div class="ui simple dimmer inverted"></div>
  <div class="ui message warning" *ngIf="teamAssociation.is_user_agreed && !teamAssociation.is_creator_agreed && !teamAssociation.is_invited">
    <i class="icon hourglass half"></i> <ng-container i18n>Your join request is waiting for the team creator's approval.</ng-container>
    <button class="ui mini button" (click)="cancelJoin(btnCancelJoin)" #btnCancelJoin><i class="icon times"></i> <ng-container i18n>Cancel Request</ng-container></button>
  </div>

  <div class="ui grid stackable centered" *ngIf="!teamAssociation.is_user_agreed && teamAssociation.is_creator_agreed && teamAssociation.is_invited">
    <div class="column handle-invitation">
      <div class="ui segment">
        <div class="ui header">
          <i class="icon handshake outline"></i>
          <ng-container i18n>Invitation</ng-container>
        </div>
        <ng-container i18n>You have been invited to this team. You must accept or reject this invitation before any other team interactions.</ng-container>
        <div class="ui buttons">
          <a class="ui button green" i18n>Accept</a>
          <div class="or"></div>
          <a class="ui button red" i18n>Reject</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="team.creator_id==user.id">
    <div class="ui message warning" *ngIf="hasPendingRequests(); else noPendingRequest">
      <i class="icon hourglass half"></i> <ng-container i18n>There are pending requests for you to resolve.</ng-container>
    </div>
    <ng-template #noPendingRequest>
      <ng-container *ngIf="!team.is_finalised">
        <div class="ui message info">
          <i class="icon info circle"></i>
          <ng-container i18n>Please finalise your team when you confirm the member list. Only after the team is finalised, the team members can make submissions for this task.</ng-container>
        </div>
      </ng-container>
    </ng-template>
  </div>

  <div class="ui message info" *ngIf="teamAssociation.is_user_agreed && teamAssociation.is_creator_agreed && team.creator_id!=user.id && !team.is_finalised">
    <i class="icon info circle"></i> <ng-container i18n>Your team needs to be finalised by the team creator before you can make any submissions for this task.</ng-container>
  </div>

  <div class="ui header">
    <i class="icon users"></i>
    <div class="content">
      {{ team.name }}
      <small *ngIf="user.id == team.creator_id && !showUpdateTeamForm"><i class="icon pencil link" (click)="showUpdateTeamForm=true" title="Edit"></i></small>
      <div class="sub header" *ngIf="team.slogan">{{team.slogan}}</div>
    </div>
  </div>

  <div class="ui grid centered stackable" *ngIf="showUpdateTeamForm">
    <div class="column update-team">
      <div class="ui segment">
        <form class="ui form" [ngClass]="{'loading': updatingTeam}" (ngSubmit)="updateTeam(f)" #f="ngForm">
          <div class="field" [ngClass]="{'error': (f.submitted||sloganModel.dirty||sloganModel.touched)&&sloganModel.invalid}">
            <label i18n>Slogan (Optional)</label>
            <input type="text" name="slogan" placeholder="Use a slogan to attract others to join your team" maxlength="64"
                   [(ngModel)]="updateTeamForm.slogan" #sloganModel="ngModel">
            <div class="errors">
              <label *ngIf="sloganModel.errors?.maxlength"><i class="times icon"></i> Slogan is too long</label>
            </div>
          </div>
          <div class="ui buttons fluid">
            <button type="submit" class="ui primary button"><i class="icon save"></i> <ng-container i18n>Save</ng-container></button>
            <button type="button" class="ui button" (click)="showUpdateTeamForm=false"><i class="icon eye slash"></i> <ng-container i18n>Hide</ng-container></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ui segment">
    <div class="ui list horizontal">
      <div class="item">
        <div class="header">ID</div>
        {{ team.id }}
      </div>
      <div class="item">
        <div class="header" i18n>Created At</div>
        {{team.created_at|date:'short'}}
      </div>
      <div class="item">
        <div class="content">
          <div class="header" i18n>Status</div>
          <span *ngIf="!team.is_finalised; else alreadyFinalisedText"><i class="icon lock open green"></i> <ng-container i18n>Open</ng-container></span>
          <ng-template #alreadyFinalisedText><i class="icon lock"></i> <ng-container i18n>Finalised</ng-container></ng-template>
        </div>
      </div>
    </div>
  </div>

  <table class="ui unstackable table">
    <thead><tr><th>#</th><th i18n>User</th><th i18n>Requested At</th><th i18n>Joined At</th><th i18n>Status</th><th *ngIf="team.creator_id==user.id && !team.is_finalised" i18n>Operations</th></tr></thead>
    <tbody>
    <tr *ngFor="let ass of team.user_associations; index as i" [ngClass]="{'active': user.id==ass.user_id}">
      <td>{{i+1}}</td>
      <td>
        <app-user-mini-card [user]="ass.user" [enablePopup]="true"></app-user-mini-card>
        &nbsp;<i class="icon star yellow" *ngIf="ass.user_id==team.creator_id" title="Creator"></i>
      </td>
      <td>{{ass.created_at|date:'short'}}</td>
      <td><span *ngIf="ass.is_creator_agreed&&ass.is_user_agreed">{{ass.modified_at|date:'short'}}</span></td>
      <td>
        <span *ngIf="ass.is_user_agreed && ass.is_creator_agreed"><i class="icon check green"></i> <ng-container i18n>Member</ng-container></span>
        <span *ngIf="ass.is_user_agreed && !ass.is_creator_agreed"><i class="icon hourglass half yellow"></i> <ng-container i18n>Requesting</ng-container></span>
        <span *ngIf="!ass.is_user_agreed && ass.is_creator_agreed"><i class="icon hourglass half yellow"></i> <ng-container i18n>Inviting</ng-container></span>
      </td>
      <td *ngIf="team.creator_id==user.id && !team.is_finalised">
        <div class="ui small buttons" *ngIf="ass.user_id != user.id && ass.is_creator_agreed && ass.is_user_agreed">
          <a class="ui icon button red" (click)="kickOut(ass.user, btnKickOut)" #btnKickOut><i class="icon times"></i> <ng-container i18n>Remove</ng-container></a>
        </div>
        <div class="ui small buttons" *ngIf="!ass.is_creator_agreed">
          <a class="ui icon button green" (click)="acceptJoin(ass.user, btnAcceptJoin)" #btnAcceptJoin><i class="icon check"></i> <ng-container i18n>Accept</ng-container></a>
          <a class="ui icon button red" (click)="rejectJoin(ass.user, btnRejectJoin)" #btnRejectJoin><i class="icon times"></i> <ng-container i18n>Reject</ng-container></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="ui grid stackable center aligned one column" *ngIf="!team.is_finalised">
    <div class="column team-operations" *ngIf="team.creator_id==user.id">
      <div class="ui buttons two">
        <a class="ui button primary" (click)="finaliseTeam(btnFinaliseTeam)" #btnFinaliseTeam [ngClass]="{'disabled': hasPendingRequests()}">
          <i class="icon lock"></i> <ng-container i18n>Finalise Team</ng-container>
        </a>
        <a class="ui button red" (click)="dismissTeam(btnDismissTeam)" #btnDismissTeam>
          <i class="icon trash"></i> <ng-container i18n>Dismiss Team</ng-container>
        </a>
      </div>
      <p *ngIf="hasPendingRequests()">
        <i class="icon info circle"></i> <ng-container i18n>You have to resolve all the pending requests before finalising the team.</ng-container>
      </p>
    </div>
    <div class="column team-operations" *ngIf="team.creator_id!=user.id && teamAssociation.is_user_agreed && teamAssociation.is_creator_agreed">
      <a class="ui button fluid red" (click)="leaveTeam(btnLeaveTeam)" #btnLeaveTeam><i class="icon sign out"></i> <ng-container i18n>Leave Team</ng-container></a>
    </div>
  </div>
</div>

