<app-success-message [success]="success"></app-success-message>
<app-error-message [error]="error"></app-error-message>
<div class="ui text loader active inline centered" *ngIf="loadingTask">Loading task info...</div>

<div *ngIf="task">
  <div class="ui breadcrumb">
    <a routerLink="../.." class="section">Tasks</a>
    <i class="icon divider right angle"></i>
    <div class="section">{{category.name}}</div>
    <i class="icon divider right angle"></i>
    <div class="section active">{{task.title}}</div>
  </div>

  <div class="ui message warning" *ngIf="beforeOpen">
    <i class="icon exclamation triangle"></i> The students have no access to this page until the opening time. However, they can see limited information via
    <a routerLink="../../tasks-preview/{{taskId}}">this preview page</a>.
  </div>

  <div class="ui header">
    <i class="icon" *ngIf="category.icon" [ngClass]="category.icon"></i>
    <div class="content">
      {{ task.title }}
      <div class="sub header">
        {{ task.type | titlecase }}
      </div>
    </div>
  </div>

  <ng-template #timeTbd>TBD</ng-template>
  <ng-template #no>No</ng-template>
  <ng-template #noLimit>No limit</ng-template>

  <div class="ui grid stackable">
    <!--Left Panel-->
    <div class="four wide column">
      <div class="ui segments">
        <!--Start of Time info-->
        <div class="ui segment">
          <div class="ui list">
            <div class="item">
              <i class="icon clock outline"></i>
              <div class="content">
                <div class="header">Open Time</div>
                <div class="description">
                  <div *ngIf="task.open_time; else timeTbd">
                    <div>{{ task.open_time|date:'medium' }}</div>
                    <div>({{task._open_time_from_now}})</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="icon clock"></i>
              <div class="content">
                <div class="header">Due Time</div>
                <div class="description">
                  <div *ngIf="task.due_time; else timeTbd">
                    <div>{{ task.due_time|date:'medium' }}</div>
                    <div>({{task._due_time_from_now}})</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="icon cut"></i>
              <div class="content">
                <div class="header">Late Penalty</div>
                <div class="description">
                  <div *ngIf="latePenalty; else unknownLatePenalty">
                    <div *ngIf="latePenalty.segments.length>1; else oneSegment" class="ui list horizontal">
                      <div class="item" *ngFor="let segment of latePenalty.segments">
                        <div class="content">
                          <ng-container *ngIf="segment.toDay!=null; else endlessSegment">
                              <ng-container *ngIf="segment.fromDay!=segment.toDay; else oneDaySegment">
                                <div class="header">{{segment.fromDay|ordinal}}-{{segment.toDay|ordinal}} day</div>
                                <div class="description">-{{segment.penaltyPerDay | percent: '1.0-3'}} per day</div>
                              </ng-container>
                            </ng-container>
                          <ng-template #oneDaySegment>
                            <div class="header">{{segment.fromDay|ordinal}} day</div>
                            <div class="description">-{{segment.penaltyPerDay | percent: '1.0-3'}}</div>
                          </ng-template>
                          <ng-template #endlessSegment>
                            <div class="header">{{segment.fromDay|ordinal}} day and later</div>
                            <div class="description">-{{segment.penaltyPerDay | percent: '1.0-3'}} per day</div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #oneSegment>
                    <span *ngIf="latePenalty.segments[0].penaltyPerDay!=0; else noLatePenalty">
                      -{{latePenalty.segments[0].penaltyPerDay | percent: '1.0-3'}} per day
                    </span>
                    <ng-template #noLatePenalty>No late penalty</ng-template>
                  </ng-template>
                  <ng-template #unknownLatePenalty>Please refer to the specification</ng-template>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="icon times circle outline"></i>
              <div class="content">
                <div class="header">Close Time</div>
                <div class="description">
                  <div *ngIf="task.close_time; else timeTbd">
                    <div>{{ task.close_time|date:'medium' }}</div>
                    <div>({{task._close_time_from_now}})</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Time info-->

        <!-- Start of Team info -->
        <div class="ui segment">
          <div class="ui list">
            <div class="item">
              <i class="icon users"></i>
              <div class="content">
                <div class="header">Is Team Task?</div>
                <div class="description">
                  <span *ngIf="task.is_team_task; else no">Yes</span>
                </div>
              </div>
            </div>
            <div class="item" *ngIf="task.is_team_task">
              <i class="icon users"></i>
              <div class="content">
                <div class="header">Team Size</div>
                <div class="description">
                  {{printTaskTeamSize(task) | titlecase}}
                </div>
              </div>
            </div>
            <div class="item" *ngIf="task.is_team_task">
              <i class="icon hand paper outline"></i>
              <div class="content">
                <div class="header">Team Join Close Time</div>
                <div class="description">
                  <div *ngIf="task.team_join_close_time; else timeTbd">
                    <div>{{ task.team_join_close_time|date:'medium' }}</div>
                    <div>({{task._team_join_close_time_from_now}})</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Team info -->

        <!--Start of Submission Info-->
        <div class="ui segment">
          <div class="ui list">
            <div class="item">
              <i class="icon paper plane outline"></i>
              <div class="content">
                <div class="header">Submission Attempt Limit</div>
                <div class="description">
                  <span *ngIf="task.submission_attempt_limit!=null; else noLimit">{{task.submission_attempt_limit}}</span>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="icon history"></i>
              <div class="content">
                <div class="header">Submission History Limit</div>
                <div class="description">
                  <span *ngIf="task.submission_history_limit!=null; else noLimit">{{task.submission_history_limit}}</span>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="icon balance scale"></i>
              <div class="content">
                <div class="header">Evaluation Method</div>
                <div class="description">
                  <span *ngIf="task.evaluation_method=='auto_test'">Auto Testing</span>
                  <span *ngIf="!task.evaluation_method">Offline</span>
                </div>
              </div>
            </div>
            <div class="item" *ngIf="task.evaluation_method=='auto_test'">
              <i class="icon play circle outline"></i>
              <div class="content">
                <div class="header">Auto Test Trigger</div>
                <div class="description">
                  <span *ngIf="task.auto_test_trigger=='submission'">Triggered after each new submission</span>
                  <span *ngIf="!task.auto_test_trigger">Manually triggered</span>
                </div>
              </div>
            </div>
            <div class="item" *ngIf="task.evaluation_method=='auto_test'
              && (task.auto_test_environment_id!=null && autoTestEnvironment || task.auto_test_environment_id==null)">
              <i class="icon terminal"></i>
              <div class="content">
                <div class="header">Auto Test Environment</div>
                <div class="description">
                  <ng-container *ngIf="task.auto_test_environment_id!=null; else noAutoTestEnvironment">
                    {{ autoTestEnvironment.name + (autoTestEnvironment.is_private ? ' (private)' : ' (public)')}}
                  </ng-container>
                  <ng-template #noAutoTestEnvironment>(None)</ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Submission Info-->
      </div>


      <div class="ui menu vertical fluid" *ngIf="accessRoles.has('admin')">
        <a class="item" routerLink="/admin/tasks/{{task.id}}">
          <i class="icon cog"></i> Configurations
        </a>
      </div>
    </div>
    <!--End of Left Panel-->

    <!--Right Panel-->
    <div class="twelve wide column">
      <div class="ui pointing menu stackable">
        <a routerLink="details" routerLinkActive="active" class="item"><i class="icon list"></i> Task Details</a>
        <a routerLink="my-team" routerLinkActive="active" class="item" *ngIf="task.is_team_task && accessRoles.has('student')"><i class="icon users"></i> My Team</a>
        <a routerLink="submit" routerLinkActive="active" class="item" *ngIf="accessRoles.has('student')"><i class="icon plus"></i> New Submission</a>
        <a routerLink="my-submissions" routerLinkActive="active" class="item" *ngIf="accessRoles.has('student') && !task.is_team_task"><i class="icon paper plane outline"></i> My Submissions</a>
        <a routerLink="my-team-submissions" routerLinkActive="active" class="item" *ngIf="accessRoles.has('student') && task.is_team_task"><i class="icon paper plane outline"></i> Team Submissions</a>
        <div class="menu right" *ngIf="accessRoles.has('admin') || accessRoles.has('tutor')">
          <a routerLink="teams" routerLinkActive="active" class="item" *ngIf="task.is_team_task"><i class="icon users"></i> Teams</a>
          <a routerLink="user-submissions" routerLinkActive="active" class="item" *ngIf="!task.is_team_task"><i class="icon paper plane"></i>Submissions</a>
          <a routerLink="team-submissions" routerLinkActive="active" class="item" *ngIf="task.is_team_task"><i class="icon paper plane"></i>Submissions</a>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <!--End of Right Panel-->

  </div>

</div>
