<div class="ui segment" *ngIf="task && conclusions && task.auto_test_configs.length">
  <div class="ui top attached label">Results</div>
  <div class="ui grid stackable centered center aligned">
    <div class="four wide column" *ngFor="let config of task.auto_test_configs">
      <div class="ui statistic fluid">
        <ng-container *ngIf="conclusions[config.id] != null; else noResult">
          <div class="value"
               [ngClass]="{'text': config.result_conclusion_type=='string' || config.result_conclusion_type=='json'}">
            <ng-container *ngIf="config.result_conclusion_type!='json'; else showJSON">
              {{conclusions[config.id]}}
            </ng-container>
            <ng-template #showJSON>{{conclusions[config.id]|json}}</ng-template>
          </div>
        </ng-container>
        <ng-template #noResult>
          <div class="value text">No Result</div>
        </ng-template>
        <div class="label">{{config.name}} <i class="ui icon red lock" *ngIf="config.is_private"></i></div>
      </div>
    </div>
  </div>
</div>
