<ng-container *ngIf="diff">
  <ng-container *ngIf="!diff.same; else sameFile">
    <ng-container *ngIf="!diff.binary; else binaryDiff">
      <a href="{{apiBase}}/{{diff.to_submission_id}}/files/{{diff.to_file_id}}/diff" target="_blank" title="Compare with the previous submission">
        <span class="addition">+{{diff.additions}}</span>
        <span class="deletion">-{{diff.deletions}}</span>
      </a>
    </ng-container>
  </ng-container>
  <ng-template #sameFile><span title="Same as the previous submission" class="same-file">Same File</span></ng-template>
  <ng-template #binaryDiff><span title="Has binary difference from the previous submission" class="binary-diff">Binary Diff</span></ng-template>
</ng-container>
