<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingUser">Loading user info...</div>
<div class="ui loader text active" *ngIf="loadingStatus">Loading user submission status...</div>
<div class="ui loader text active" *ngIf="loadingSubmissions">Loading user submissions...</div>

<div *ngIf="submissions">
  <div class="ui breadcrumb">
    <a routerLink=".." class="section">Submissions</a>
    <i class="icon right angle divider"></i>
    <div class="section active">
      <span *ngIf="user.nickname; else nameOnly">{{user.nickname}} ({{user.name}})</span>
      <ng-template #nameOnly>{{user.name}}</ng-template>
    </div>
  </div>

  <app-auto-test-conclusion-card [task]="task" [conclusions]="autoTestConclusions"></app-auto-test-conclusion-card>
  <app-submissions-table [task]="task" [status]="status" [submissions]="submissions" [lastAutoTests]="lastAutoTests"></app-submissions-table>
  <app-run-auto-test-card [task]="task" [user]="user" (error)="error=$event"></app-run-auto-test-card>
</div>

