<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingUser">Loading user info...</div>
<div class="ui loader text active" *ngIf="loadingStatus">Loading user submission status...</div>
<div class="ui loader text active" *ngIf="loadingSubmissions">Loading user submissions...</div>

<div *ngIf="submissions">
  <div class="ui breadcrumb">
    <a routerLink=".." class="section">Submissions</a>
    <i class="icon right angle divider"></i>
    <div class="section active">
      <span *ngIf="user.nickname; else nameOnly">{{user.nickname}} ({{user.name}})</span>
      <ng-template #nameOnly>{{user.name}}</ng-template>
    </div>
  </div>

  <app-submissions-table [task]="task" [status]="status" [submissions]="submissions"></app-submissions-table>
</div>

