<app-error-message [error]="error"></app-error-message>
<app-success-message [success]="success"></app-success-message>

<div class="ui grid stackable one column">
  <div class="column">
    <div class="ui active text loader inline centered" *ngIf="loadingUsers" i18n>Loading users...</div>
    <div *ngIf="!loadingUsers">
      <div class="ui top attached clearing segment">
        <div class="ui right floated menu secondary fitted">
          <div class="item">
            <div class="ui input icon">
              <input type="text" name="userSearchKey" #inputUserSearch (keyup)="userSearchKey.next(inputUserSearch.value)"
                     placeholder="Search...">
              <i class="icon search"></i>
            </div>
          </div>
          <div class="item">
            <a class="ui button small primary" (click)="syncUsers()" [ngClass]="{'loading disabled': syncingUsers}">
              <i class="icon sync"></i> <ng-container i18n>Sync Users</ng-container>
            </a>
          </div>
        </div>
        <div class="ui left floated header">
          <i class="icon user"></i> <ng-container i18n>Synced Users</ng-container>
        </div>
      </div>
      <table class="ui sortable compact unstackable attached table celled">
        <thead>
        <tr>
          <th>#</th>
          <th (click)="sortField('id', thID)" #thID>ID</th>
          <th (click)="sortField('name', thName)" #thName i18n>Name</th>
          <th (click)="sortField('email', thEmail)" #thEmail>E-mail</th>
          <th (click)="sortField('nickname', thNickName)" #thNickName i18n>Nickname</th>
          <th i18n>Groups</th>
          <th i18n>Ops</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userPages.pageItems; index as i">
          <td>{{userPages.startRow + i}}</td>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.nickname }}</td>
          <td>
            <span class="ui label mini" *ngFor="let group of user.groups" [title]="group.description">{{group.name}}</span>
          </td>
          <td>
            <div class="ui mini buttons">
              <a target="_blank" href="admin/users/{{ user.id }}" class="ui button icon"><i class="icon edit"></i></a>
              <a class="ui button primary icon" (click)="syncUser(user, btnSyncUser)" #btnSyncUser><i class="icon sync"></i></a>
              <a #btnDeleteUser class="ui button icon red" (click)="deleteUser(user, btnDeleteUser)"><i class="icon trash"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <app-table-pagination-toolbar class="bottom attached" [pagination]="userPages"></app-table-pagination-toolbar>
    </div>
  </div>

  <div class="column">
    <div class="ui active text loader inline centered" *ngIf="loadingGroups" i18n>Loading groups...</div>
    <div *ngIf="groups">
      <div class="ui top attached clearing segment">
        <a class="ui right floated button small primary" (click)="syncGroups()" [ngClass]="{'loading disabled': syncingGroups}">
          <i class="icon sync"></i> <ng-container i18n>Sync Groups</ng-container>
        </a>
        <div class="ui left floated header">
          <i class="icon users"></i> <ng-container i18n>Synced Groups</ng-container>
        </div>
      </div>
      <table class="ui compact unstackable bottom attached table celled">
        <thead><tr><th>ID</th><th i18n>Name</th><th i18n>Description</th><th i18n>Ops</th></tr></thead>
        <tbody>
        <tr *ngFor="let group of groups; index as i">
          <td>{{ group.id }}</td>
          <td>{{ group.name }}</td>
          <td>{{ group.description }}</td>
          <td>
            <div class="ui mini buttons">
              <a target="_blank" href="admin/groups/{{ group.id }}" class="ui button icon"><i class="icon edit"></i></a>
              <a class="ui button primary icon" (click)="syncGroup(group, btnSyncGroup)" #btnSyncGroup><i class="icon sync"></i></a>
              <a #btnDeleteGroup class="ui button icon red" (click)="deleteGroup(group, i, btnDeleteGroup)"><i class="icon trash"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
