<app-error-message [error]="error"></app-error-message>
<div class="ui text loader active" *ngIf="loadingSubmission" i18n>Loading submission info...</div>

<div *ngIf="submission">
  <div class="ui grid stackable two column">
    <div class="column">
      <div class="ui breadcrumb">
        <a class="section" routerLink="../.." i18n>Submissions</a>
        <i class="icon right angle divider"></i>
        <a class="section" routerLink="..">
          <span *ngIf="submission.submitter.nickname; else nameOnly">{{submission.submitter.nickname}} ({{submission.submitter.name}})</span>
          <ng-template #nameOnly>{{submission.submitter.name}}</ng-template>
        </a>
        <i class="icon right angle divider"></i>
        <div class="active section"><ng-container i18n>Submission</ng-container> {{submission.id}}</div>
      </div>
    </div>
    <div class="column right aligned">
      <a class="ui button mini" href="admin/users/{{submission.submitter.id}}" target="_blank"><i class="icon user pro"></i> <ng-container i18n>User Info</ng-container></a>
    </div>
  </div>

  <app-submission-card [submission]="submission" (error)="error=$event"></app-submission-card>

  <ng-container *ngIf="task.evaluation_method=='auto_test'">
    <app-submission-auto-tests-view [submission]="submission" [task]="task" [isAdmin]="isAdmin"
                                    (error)="error=$event"></app-submission-auto-tests-view>
  </ng-container>

  <app-submission-comments-view [submission]="submission" [task]="task" [isAdminOrTutor]="true"
                                (error)="error=$event"></app-submission-comments-view>
</div>
