<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingSummaries">Loading submission summaries...</div>

<div *ngIf="teamSummaries">
  <div class="ui segment">
    <div class="ui grid stackable">
      <div class="eleven wide column">
        <div class="ui statistics mini">
          <div class="statistic">
            <div class="value"><i class="icon paper plane"></i> {{totalSubmissions}}</div>
            <div class="label">Submissions</div>
          </div>
          <div class="statistic">
            <div class="value"><i class="icon users"></i> {{teamSummaries.length}}</div>
            <div class="label">Submitted Teams</div>
          </div>
        </div>
      </div>
      <div class="five wide column">
        <div class="ui action input fluid" #inputFindSubmissionWrapper>
          <input type="text" placeholder="Find submission..." #inputFindID>
          <button class="ui icon button" (click)="goToSubmission(inputFindID.value, 'submission_id', btnGoToSubmissionByID, inputFindSubmissionWrapper)" #btnGoToSubmissionByID title="by Submission ID">
            <i class="icon paper plane"></i>
          </button>
          <button class="ui icon button" (click)="goToSubmission(inputFindID.value, 'auto_test_id', btnGoToSubmissionByAutoTestID, inputFindSubmissionWrapper)" #btnGoToSubmissionByAutoTestID title="by Auto Test ID">
            <i class="icon terminal"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segment" *ngIf="dailySummaries">
    <app-daily-submission-chart [task]="task" [summaries]="dailySummaries"></app-daily-submission-chart>
  </div>

  <app-auto-test-conclusion-summary-charts *ngIf="autoTestConclusions" [task]="task"
                                           [conclusions]="autoTestConclusions"></app-auto-test-conclusion-summary-charts>

  <div class="ui top attached clearing segment">
    <div class="ui right floated menu secondary fitted">
      <div class="item">
        <div class="ui basic buttons small">
          <a class="ui button" href="api/tasks/{{taskId}}/export-results" target="_blank"><i class="icon share"></i> Export</a>
          <a class="ui button" href="api/tasks/{{taskId}}/export-results?members=true" target="_blank"><i class="icon share"></i> Export (with team members)</a>
        </div>
      </div>
    </div>
    <div class="ui left floated menu secondary fitted">
      <div class="item">
        <div class="ui input icon">
          <input type="text" name="teamSearchKey" #inputTeamSearch (keyup)="teamSearchKey.next(inputTeamSearch.value)"
                 placeholder="Search Team...">
          <i class="icon search"></i>
        </div>
      </div>
    </div>
  </div>
  <table class="ui table unstackable sortable celled attached">
    <thead>
    <tr>
      <th>#</th>
      <th (click)="sortField('team.name', thTeam)" #thTeam>Team</th>
      <th (click)="sortField('total_submissions', thTotalSubmissions)" #thTotalSubmissions>Attempts</th>
      <th (click)="sortField('_first_submit_time', thFirstSubmitTime)" #thFirstSubmitTime>First Attempt</th>
      <th (click)="sortField('_last_submit_time', thLastSubmitTime)" #thLastSubmitTime>Last Attempt</th>
      <th *ngFor="let config of task.auto_test_configs"
          (click)="sortField('_auto_test_conclusion_'+config.id, thAutoTestConfig)" #thAutoTestConfig>
        {{config.name}} <i class="ui icon red lock" *ngIf="config.is_private"></i>
      </th>
      <th>Ops</th></tr></thead>
    <tbody>
    <tr *ngFor="let summary of teamSummaryPages.pageItems; index as i">
      <td>{{teamSummaryPages.startRow + i}}</td>
      <td><a routerLink="../teams/{{summary.team.id}}"><i class="icon users"></i> {{summary.team.name}}</a></td>
      <td>{{summary.total_submissions}}</td>
      <td>{{summary.first_submit_time | date:'short'}}</td>
      <td>{{summary.last_submit_time | date:'short'}}</td>
      <td *ngFor="let config of task.auto_test_configs">
        <ng-container *ngIf="summary['_auto_test_conclusion_'+config.id] != null">
          <ng-container *ngIf="config.result_conclusion_type != 'json'; else jsonConclusion">
            {{summary['_auto_test_conclusion_'+config.id]}}
          </ng-container>
          <ng-template #jsonConclusion>{{summary['_auto_test_conclusion_'+config.id]|json}}</ng-template>
        </ng-container>
      </td>
      <td>
        <a routerLink="{{summary.team.id}}" class="ui button icon mini" title="Submissions"><i class="icon search"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <app-table-pagination-toolbar class="bottom attached" [pagination]="teamSummaryPages"></app-table-pagination-toolbar>

  <app-run-auto-test-card [task]="task"></app-run-auto-test-card>
</div>
