<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingTeamAssociation" i18n>Loading my team...</div>
<div class="ui loader text active" *ngIf="loadingTeams" i18n>Loading teams...</div>

<div *ngIf="teams">
  <div class="ui header center aligned icon">
    <i class="icon circular users"></i>
    <div class="content" *ngIf="teams.length; else noExistingTeams">
      <ng-container i18n>You are not in any team now!</ng-container>
      <div class="sub header" i18n>Please create a new team or join an existing team</div>
    </div>
    <ng-template #noExistingTeams>
      <div class="content">
        <ng-container i18n>There is no team now!</ng-container>
        <div class="sub header" i18n>Please create the first team!</div>
      </div>
    </ng-template>
  </div>

  <div class="ui grid centered stackable">
    <div class="column new-team">
      <div class="ui segment">
        <h5 class="ui header">
          <i class="icons">
            <i class="icon users"></i>
            <i class="icon right bottom corner plus"></i>
          </i>
          <ng-container i18n>Create New Team</ng-container>
        </h5>
        <form class="ui form" [ngClass]="{'loading': creatingTeam}" (ngSubmit)="createTeam(f)" #f="ngForm">
          <div class="field required" [ngClass]="{'error': (f.submitted || nameModel.dirty || nameModel.touched) && nameModel.invalid}">
            <label i18n>Name</label>
            <input type="text" name="name" placeholder="3-16 alphanumeric characters" [(ngModel)]="newTeamForm.name"
                   required minlength="3" maxlength="16" pattern="^[\w]{3,16}$" #nameModel="ngModel">
            <div class="errors">
              <label *ngIf="nameModel.errors?.required"><i class="icon times"></i> Name is required</label>
              <label *ngIf="nameModel.errors?.minlength"><i class="icon times"></i> Name too short, at least 3 characters</label>
              <label *ngIf="nameModel.errors?.maxlength"><i class="icon times"></i> Name too long, at most 16 characters</label>
              <label *ngIf="!nameModel.errors?.minlength && !nameModel.errors?.maxlength && nameModel.errors?.pattern">
                <i class="icon times"></i> Invalid format, alphanumeric characters only
              </label>
            </div>
          </div>
          <div class="field" [ngClass]="{'error': (f.submitted||sloganModel.dirty||sloganModel.touched)&&sloganModel.invalid}">
            <label i18n>Slogan (Optional)</label>
            <input type="text" name="slogan" placeholder="Use a slogan to attract others to join your team" maxlength="64"
                   [(ngModel)]="newTeamForm.slogan" #sloganModel="ngModel">
            <div class="errors">
              <label *ngIf="sloganModel.errors?.maxlength"><i class="times icon"></i> Slogan is too long</label>
            </div>
          </div>
          <button type="submit" class="ui primary fluid button"><i class="icon plus"></i> <ng-container i18n>Create</ng-container></button>
        </form>
      </div>
    </div>
  </div>

  <ng-container *ngIf="teams.length">
    <div class="ui divider horizontal" i18n>Or</div>

    <div class="ui grid stackable centered">
      <div class="column search-team">
        <div class="ui input left icon fluid">
          <i class="icon search"></i>
          <input type="text" #inputTeamSearchKey (keyup)="teamSearchKey.next(inputTeamSearchKey.value)"
                 placeholder="Search for a team to join...">
        </div>
      </div>
    </div>

    <ng-container *ngIf="!teamJoinClosed; else teamJoinClosedMsg">
      <div class="ui message info" *ngIf="teamJoinCloseIn">
        <i class="ui icon info circle"></i> Team join will be closed {{teamJoinCloseIn}}.
      </div>
    </ng-container>
    <ng-template #teamJoinClosedMsg>
      <div class="ui message warning">
        <i class="ui icon exclamation triangle"></i> <ng-container i18n>Team join has been closed.</ng-container>
      </div>
    </ng-template>

    <table class="ui table unstackable">
      <thead><tr><th i18n>Team ID</th><th i18n>Team Name</th><th i18n>Creator</th><th i18n>Slogan</th><th i18n>Members</th><th class="collapsing" i18n>Operations</th></tr></thead>
      <tbody>
      <tr *ngFor="let t of listedTeams">
        <td>{{t.id}}</td>
        <td>{{t.name}}</td>
        <td>
          <app-user-mini-card [user]="t.creator" [enablePopup]="true"></app-user-mini-card>
        </td>
        <td class="break-word">{{t.slogan}}</td>
        <td>{{t.total_user_associations}}</td>
        <td class="collapsing">
          <a *ngIf="!t.is_finalised; else alreadyFinalisedLabel" class="ui mini button green" (click)="applyJoin(t, btnJoinTeam)" #btnJoinTeam [ngClass]="{'disabled': teamJoinClosed}"><i class="icon hand paper"></i> <ng-container i18n>Join</ng-container></a>
          <ng-template #alreadyFinalisedLabel><div class="ui small label"><i class="icon lock"></i> <ng-container i18n>Finalised</ng-container></div></ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
