<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingStatus">Loading status...</div>
<div class="ui loader text active" *ngIf="loadingSubmissions">Loading team submissions...</div>

<div *ngIf="status">
  <div class="ui message warning icon" *ngIf="!status.team_association || !status.team_association.team.is_finalised">
    <i class="icon dont"></i>
    <div class="content">
      <div class="header">Team submissions are not available now</div>
      <p>You must be a member of a finalised team first.</p>
    </div>
  </div>
</div>

<div class="ui message info" *ngIf="attemptOffset">
  <i class="icon info circle"></i>
  Older submissions have been removed due to the history limit of this task.
</div>

<table class="ui table unstackable" *ngIf="submissions">
  <thead><tr><th>#</th><th>ID</th><th>Submitter</th><th>Submitted At</th><th>Operations</th></tr></thead>
  <tbody>
  <tr *ngFor="let sub of submissions; index as i">
    <td>{{i+1+attemptOffset}}</td>
    <td>{{sub.id}}</td>
    <td>
      <span *ngIf="sub.submitter.nickname; else nameOnly">{{sub.submitter.nickname}} ({{sub.submitter.name}})</span>
      <ng-template #nameOnly>{{sub.submitter.name}}</ng-template>
    </td>
    <td>{{sub.created_at | date: 'medium'}}</td>
    <td>
      <a class="ui button mini icon" routerLink="{{sub.id}}" title="Details"><i class="icon ellipsis horizontal"></i></a>
    </td>
  </tr>
  </tbody>
</table>
