<app-success-message [success]="success"></app-success-message>
<app-error-message [error]="error"></app-error-message>
<div class="ui text loader active inline centered" *ngIf="loadingTask">Loading task info...</div>

<div *ngIf="task">
  <div class="ui breadcrumb">
    <a routerLink="../.." class="section">Tasks</a>
    <i class="icon divider right angle"></i>
    <div class="section">{{category.name}}</div>
    <i class="icon divider right angle"></i>
    <div class="section active">{{task.title}} (Preview)</div>
  </div>

  <div class="ui message info icon">
    <i class="icon info circle"></i>
    <div class="content">
      <div class="header">You are previewing this task</div>
      <ul class="list">
        <li>You can only see limited information about this task in this preview page.</li>
        <ng-container *ngIf="task.is_team_task">
          <li>Team-making is available at any time (click 'My Team' button below). You are free to make your teams now or later.</li>
          <li>However, you are not allowed to join an existing team after the <b>Team Join Close Time</b> (see the details below).</li>
        </ng-container>
        <li>You will be redirected to the full page after the opening time.</li>
      </ul>
    </div>
  </div>

  <div class="ui header">
    <i class="icon" *ngIf="category.icon" [ngClass]="category.icon"></i>
    <div class="content">
      {{ task.title }}
      <div class="sub header">
        {{ task.type | titlecase }}
      </div>
    </div>
  </div>

  <ng-template #timeTbd>TBD</ng-template>
  <ng-template #no>No</ng-template>
  <ng-template #noLimit>No limit</ng-template>

  <div class="ui grid stackable">
    <!--Left Panel-->
    <div class="four wide column">
      <div class="ui segments">
        <!--Start of Time info-->
        <div class="ui segment">
          <div class="ui list">
            <div class="item">
              <i class="icon clock outline"></i>
              <div class="content">
                <div class="header">Open Time</div>
                <div class="description">
                  <div *ngIf="task.open_time; else timeTbd">
                    <div>{{ task.open_time|date:'medium' }}</div>
                    <div>({{task._open_time_from_now}})</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="icon clock"></i>
              <div class="content">
                <div class="header">Due Time</div>
                <div class="description">
                  <div *ngIf="task.due_time; else timeTbd">
                    <div>{{ task.due_time|date:'medium' }}</div>
                    <div>({{task._due_time_from_now}})</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Time info-->

        <!--Start of Team Info-->
        <div class="ui segment">
          <div class="ui list">
            <div class="item">
              <i class="icon users"></i>
              <div class="content">
                <div class="header">Is Team Task?</div>
                <div class="description">
                  <span *ngIf="task.is_team_task; else no">Yes</span>
                </div>
              </div>
            </div>
            <div class="item" *ngIf="task.is_team_task">
              <i class="icon users"></i>
              <div class="content">
                <div class="header">Team Size</div>
                <div class="description">
                  {{printTaskTeamSize(task) | titlecase}}
                </div>
              </div>
            </div>
            <div class="item" *ngIf="task.is_team_task">
              <i class="icon hand paper outline"></i>
              <div class="content">
                <div class="header">Team Join Close Time</div>
                <div class="description">
                  <div *ngIf="task.team_join_close_time; else timeTbd">
                    <div>{{ task.team_join_close_time|date:'medium' }}</div>
                    <div>({{task._team_join_close_time_from_now}})</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Team Info-->
      </div>

    </div>
    <!--End of Left Panel-->

    <!--Right Panel-->
    <div class="twelve wide column">
      <div class="ui pointing menu stackable">
        <a routerLink="details" routerLinkActive="active" class="item"><i class="icon list"></i> Task Details</a>
        <a routerLink="my-team" routerLinkActive="active" class="item" *ngIf="task.is_team_task && accessRoles.has('student')"><i class="icon users"></i> My Team</a>
        <div class="item disabled" *ngIf="accessRoles.has('student')"><i class="icon plus"></i> New Submission</div>
        <div class="item disabled" *ngIf="accessRoles.has('student') && !task.is_team_task"><i class="icon paper plane outline"></i> My Submissions</div>
        <div class="item disabled" *ngIf="accessRoles.has('student') && task.is_team_task"><i class="icon paper plane outline"></i> Team Submissions</div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <!--End of Right Panel-->

  </div>

</div>
