<app-error-message [error]="error"></app-error-message>
<div class="ui segment">
  <div class="ui header dividing">
    <i class="icon plus"></i> New Term
  </div>
  <form class="ui form" #f="ngForm" (ngSubmit)="newTerm(f)" [ngClass]="{'loading': addingTerm}">
    <div class="field required" [ngClass]="{'error': (title_model.touched || title_model.dirty || f.submitted) && title_model.invalid}">
      <label>Title</label>
      <input type="text" name="title" placeholder='e.g. "COMP9318 18s1" (at most 128 characters)'
             required maxlength="128"
             [(ngModel)]="form.title" #title_model="ngModel">
      <div class="errors">
        <label *ngIf="title_model.errors?.required">Title is required</label>
        <label *ngIf="title_model.errors?.maxlength">Title is too long</label>
      </div>
    </div>
    <div class="field" [ngClass]="{'error': (desc_model.touched || desc_model.dirty || f.submitted) && desc_model.invalid}">
      <label>Description</label>
      <input type="text" name="description" placeholder='A general introduction of this course or term (at most 256 characters)'
             maxlength="256"
             [(ngModel)]="form.description" #desc_model="ngModel">
      <div class="errors">
        <label *ngIf="desc_model.errors?.maxlength">Description is too long</label>
      </div>
    </div>
    <button type="submit" class="ui primary button fluid">Add</button>
  </form>
</div>
