<div class="ui container">
  <div class="ui middle aligned centered padded stackable main grid">
    <div class="ten wide column">
      <h2 class="ui center aligned fluid header">
        <img src="static/assets/logo-256.png">
        UNSWKG Submit
      </h2>
      <app-error-message [error]="error"></app-error-message>
      <div class="ui active inline centered text loader" *ngIf="loadingUser || loadingCourses">
        <span *ngIf="loadingUser; else loadingCoursesHint">Loading user info...</span>
        <ng-template #loadingCoursesHint>Loading courses...</ng-template>
      </div>
      <ng-container *ngIf="entries">
        <div class="ui raised segment" *ngFor="let item of entries | keyvalue">
          <h2 class="ui course header">
            <img class="ui image" *ngIf="courseMap[item.key].icon" [src]="courseMap[item.key].icon">
            <div class="content">
              {{ courseMap[item.key].code }}
              <div class="sub header">
                {{ courseMap[item.key].name }}
              </div>
            </div>
          </h2>
          <div class="ui menu vertical fluid">
            <a class="item" *ngFor="let term of item.value" routerLink="terms/{{ term.id }}">
              <i class="icon angle right"></i>
              <span>{{ term.year }} </span>
              <span>Semester {{ term.semester }}</span>
            </a>
          </div>
        </div>

        <p>
          <a class="ui violet fluid button basic" routerLink="admin" *ngIf="isAdmin"><i class="icon cogs"></i> Management</a>
        </p>

        <p>
          <a class="ui basic button fluid" *ngIf="user" href="account/profile" target="_blank">
            <app-user-mini-card [user]="user"></app-user-mini-card>
          </a>
        </p>

      </ng-container>
    </div>
  </div>
</div>
