<app-error-message [error]="error"></app-error-message>

<div class="ui loader text active" *ngIf="loading">Loading Summaries...</div>

<ng-container *ngIf="summaries">
  <div class="ui segment" *ngFor="let item of summaries|keyvalue">
    <div class="ui label top attached">{{item.key}}</div>
    <div class="ui four statistics">
      <div class="ui statistic blue">
        <div class="label">Active</div>
        <div class="value">{{item.value.counts.active}}</div>
      </div>
      <div class="ui statistic green">
        <div class="label">Success</div>
        <div class="value">{{item.value.counts.success}}</div>
      </div>
      <div class="ui statistic red">
        <div class="label">Failure</div>
        <div class="value">{{item.value.counts.failure}}</div>
      </div>
      <div class="ui statistic">
        <div class="label">Total</div>
        <div class="value">{{item.value.counts.total}}</div>
      </div>
    </div>

    <table class="ui unstackable celled very compact table" *ngIf="item.value.heads">
      <thead>
      <tr>
        <th>#</th><th>ID</th><th>Config ID</th><th>Work ID</th>
        <th>Hostname</th><th>PID</th><th>State</th><th>Final State</th><th>Result</th><th>Exception Class</th><th>Exception Message</th><th>Exception Traceback</th>
        <th>Created At</th><th>Started At</th><th>Stopped At</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let test of item.value.heads; index as i">
        <td>{{i+1}}</td>
        <td>{{test.id}}</td>
        <td>{{test.config_id}}</td>
        <td>{{test.work_id}}</td>

        <td>{{test.hostname}}</td>
        <td>{{test.pid}}</td>
        <td>{{test.state}}</td>
        <td>{{test.final_state}}</td>
        <td><i class="icon search" [title]="test.result|json" *ngIf="test.result"></i></td>
        <td>{{test.exception_class}}</td>
        <td>{{test.exception_message}}</td>
        <td><i class="icon search" [title]="test.exception_traceback|json" *ngIf="test.exception_traceback"></i></td>

        <td>{{test.created_at|date:'short'}}</td>
        <td>{{test.started_at|date:'short'}}</td>
        <td>{{test.stopped_at|date:'short'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
