<div class="ui container full-height">
  <div class="ui middle aligned centered padded stackable grid">
    <div class="six wide column">
      <app-error-message [error]="error"></app-error-message>

      <div class="ui raised segment">
        <div class="ui text loader active inline centered" *ngIf="loadingChannels">Loading channels...</div>

        <ng-container *ngIf="channels">
          <h3 class="ui header">
            <i class="icon bell outline"></i> Email Subscriptions
          </h3>
          <div class="ui form">
            <div class="grouped fields">
              <div class="field" *ngFor="let channel of channels">
                <div class="ui toggle checkbox" #checkboxSubscribeChannelWrapper>
                  <input class="hidden" type="checkbox" name="{{channel.name}}" #checkboxSubscribeChannel [(ngModel)]="channel.is_subscribed" (change)="setChannelSubscription(channel, checkboxSubscribeChannelWrapper)">
                  <label (click)="checkboxSubscribeChannel.click()">{{channel.description || channel.name}}</label>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="ui grid center aligned">
        <div class="column">
          <a class="ui basic button" (click)="navigateBack()"><i class="icon left chevron"></i> Back</a>
          <a class="ui basic button" routerLink="/"><i class="icon home"></i> Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
