<app-error-message [error]="error"></app-error-message>

<div *ngIf="task">
  <div class="ui segment task-description" *ngIf="task.description">
    {{ task.description }}
  </div>

  <ng-container *ngFor="let item of notebookPreviews | keyvalue">
    <div class="ui segment" *ngFor="let notebook of item.value">
      <div class="ui top attached label notebook">
        <a class="title" href="api/materials/{{notebook.material_id}}/download" title="Download">
          {{notebook.material.name}}
        </a>
        <span class="sub title" *ngIf="notebook.name != notebook.material.name"><i class="icon angle double right"></i> {{notebook.name}}</span>
        <a class="action" [href]="notebook.url" target="_blank" title="Open in a new tab"><i class="icon external alternate"></i></a>
      </div>
      <div class="ui embed">
        <iframe [src]="notebook.url"></iframe>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="task.materials.length">
    <div class="ui segment">
      <div class="ui top attached blue label">Materials</div>
      <div class="ui cards">
        <a href="api/materials/{{mat.id}}/download" class="ui card" *ngFor="let mat of task.materials">
          <div class="content">
            <i class="ui right floated red lock icon" *ngIf="mat.is_private" title="Private"></i>
            <div class="header"><i class="icon" [ngClass]="materialIcons[mat.type]" title="{{ mat.type | titlecase }}"></i> {{mat.name}}</div>
            <div class="meta">
              <span class="date">{{mat.modified_at | date: 'medium'}}</span>
            </div>
            <div class="description">{{mat.description}}</div>
          </div>
          <div class="extra content">
            <span class="right floated">
              {{mat.size|size}}
            </span>
            <span [title]="'MD5: ' + mat.md5">
              <i class="icon hashtag"></i> {{mat.md5|slice:0:6}}
            </span>
          </div>
        </a>
      </div>

      <div class="material-actions" *ngIf="task.materials.length>1">
        <div class="ui divider"></div>
        <a href="api/tasks/{{taskId}}/download-materials-zip" class="ui button primary basic">
          <i class="icon file archive outline"></i>
          Download All <span *ngIf="hasPrivateMaterial">Public</span> as Zip
        </a>
        <a href="api/tasks/{{taskId}}/download-materials-zip?include_private=true" class="ui button red basic" *ngIf="hasPrivateMaterial">
          <i class="icon file archive outline"></i>
          Download All as Zip
        </a>
      </div>
    </div>
  </ng-container>
</div>
