.ui.enhanced.list{
  >.item{
    .header{
      display: inline-block;
    }
    .metadata{
      display: inline-block;
      margin-left: .5em;
      color: rgba(0,0,0,.4);
      font-size: .875em;

      >*{
        margin-left: .5em;
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}

.column.submit{
  max-width: 450px;
}
.task-description{
  white-space: pre-line;
}
