<app-error-message [error]="error"></app-error-message>

<div *ngIf="task">
  <div class="ui segment task-description" *ngIf="task.description">
    {{ task.description }}
  </div>

  <div class="ui segments" *ngIf="materialCategories.length">
    <div class="ui segment" *ngFor="let category of materialCategories">
      <h4 class="ui header">
        <i class="icon" [ngClass]="category.icon"></i>
        <div class="content">
          {{ category.type | titlecase }}
        </div>
      </h4>
      <ul class="ui list enhanced">
        <li class="item" *ngFor="let mat of category.items">
          <div class="content">
            <div class="header"><a href="api/materials/{{mat.id}}/download">{{mat.name}}</a></div>
            <div class="metadata">
              <span>Last Updated: {{mat.modified_at | date: 'short'}}</span>
            </div>
            <div class="description">{{mat.description}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="ui segment" *ngIf="task.file_requirements.length">
    <h4 class="ui header">
      <i class="icon paper plane outline"></i>
      <div class="content">Submission Requirements</div>
    </h4>
    <ul class="ui list enhanced">
      <li class="item" *ngFor="let req of task.file_requirements">
        <div class="content">
          <div class="header">{{req.name}}</div>
          <div class="metadata">
            <span *ngIf="req.is_optional">(Optional)</span>
            <span *ngIf="req.size_limit!=null; else noSizeLimit">Up to {{req.size_limit | size}}</span>
            <ng-template #noSizeLimit>Unlimited size</ng-template>
          </div>
          <div class="description">{{req.description}}</div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="accessRoles.has('student')">
    <div class="ui grid stackable center aligned">
      <div class="column submit">
        <div class="ui two buttons">
          <div class="ui button primary" routerLink="../submit">
            <i class="icon plus"></i>
            New Submission
          </div>
          <div class="ui button" routerLink="../my-submissions">
            <i class="icon paper plane outline"></i>
            My Submissions
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
