<app-error-message [error]="error"></app-error-message>
<app-success-message [success]="success"></app-success-message>
<div class="ui loader text active" *ngIf="loadingUsers">Loading user list...</div>
<div class="ui loader text active" *ngIf="loadingMarks">Loading final marks...</div>

<ng-container *ngIf="userPages">
  <div class="ui message warning" *ngIf="!task.is_final_marks_released&&!isAdmin"><i class="icon triangle exclamation"></i> The following final marks have not been released.</div>

  <div class="ui top attached clearing segment">
    <div class="ui right floated menu secondary fitted">
      <div class="item">
        <div class="ui basic buttons small">
          <a *ngIf="!task.is_final_marks_released && isAdmin" class="ui button" routerLink="import" [class.disabled]="releasing"><i class="icon share vertically flipped"></i> Import</a>
          <a class="ui button" href="api/tasks/{{taskId}}/export-final-marks" target="_blank"><i class="icon share"></i> Export</a>
        </div>
      </div>
      <div class="item" *ngIf="!task.is_final_marks_released && isAdmin">
        <button class="ui button primary small" [class.loading]="releasing" [class.disabled]="releasing" (click)="release()"><i class="icon check"></i> Release</button>
      </div>
    </div>
    <div class="ui left floated menu secondary fitted">
      <div class="item">
        <div class="ui input icon">
          <input type="text" name="userSearchKey" #inputUserSearch (keyup)="userSearchKey.next(inputUserSearch.value)"
                 placeholder="Search User...">
          <i class="icon search"></i>
        </div>
      </div>
    </div>
  </div>
  <table class="ui table compact celled unstackable sortable attached">
    <thead>
    <tr>
      <th>#</th>
      <th (click)="sortField('name', thUser)" #thUser>User</th>
      <th (click)="sortField('_marks.marks', thMarks)" #thMarks>Marks</th>
      <th (click)="sortField('_marks.comment', thComment)" #thComment>Comment</th>
      <th (click)="sortField('_marks._created_at_time', thCreatedAt)" #thCreatedAt>Created At</th>
      <th (click)="sortField('_marks._modified_at_time', thModifiedAt)" #thModifiedAt>Updated At</th>
      <th>Ops</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of userPages.pageItems; index as i">
      <td>{{i + userPages.startRow}}</td>
      <td>
        <app-user-mini-card [user]="s" [enableAdmin]="isAdmin" [enablePopup]="true" [preferNickname]="false"></app-user-mini-card>
      </td>
      <ng-container *ngIf="s._marks; else noMarks">
        <td>{{s._marks.marks}}</td>
        <td class="comment">{{s._marks.comment}}</td>
        <td>{{s._marks.created_at|date:'short'}}</td>
        <td>{{s._marks.modified_at|date:'short'}}</td>
      </ng-container>
      <ng-template #noMarks>
        <td></td><td></td><td></td><td></td>
      </ng-template>
      <td>
        <div class="ui mini buttons">
          <button *ngIf="isAdmin&&!task.is_final_marks_released" class="ui button icon" (click)="startEdit(s, f)" title="Edit Marks"><i class="icon edit"></i></button>
          <a *ngIf="!task.is_team_task;else btnTeamSubmissionsWrap" class="ui button icon" routerLink="/terms/{{task.term_id}}/tasks/{{taskId}}/user-submissions/{{s.id}}" title="Submissions"><i class="icon search"></i></a>
          <ng-template #btnTeamSubmissionsWrap>
            <button class="ui button icon" title="Submissions" (click)="goToTeamSubmissions(s, btnTeamSubmissions)" #btnTeamSubmissions><i class="icon search"></i></button>
          </ng-template>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <app-table-pagination-toolbar class="bottom attached" [pagination]="userPages"></app-table-pagination-toolbar>

  <app-modal [(show)]="showEditModal" modalClass="mini">
    <i class="close icon" (click)="showEditModal=false"></i>
    <div class="header">
      <app-user-mini-card [user]="userMap[editForm.user_id]" *ngIf="userMap[editForm.user_id]" [preferNickname]="false"></app-user-mini-card>
    </div>
    <div class="content">
      <app-error-message [error]="editError"></app-error-message>
      <form class="ui form" (ngSubmit)="submitEdit(f)" #f="ngForm" [ngClass]="{'loading': submittingEdit}">
        <div class="field required" [ngClass]="{'error': (f.submitted || marks_model.touched || marks_model.dirty) && marks_model.invalid}">
          <label>Marks</label>
          <input type="number" [(ngModel)]="editForm.marks" name="marks" #marks_model="ngModel" required>
          <div class="errors" *ngIf="marks_model.errors">
            <label *ngIf="marks_model.errors.required"><i class="times icon"></i> Marks is required</label>
          </div>
        </div>
        <div class="field"  [ngClass]="{'error': (f.submitted || comment_model.touched || comment_model.dirty) && comment_model.invalid}">
          <label>Comment (Optional)</label>
          <textarea [(ngModel)]="editForm.comment" name="comment" #comment_model="ngModel" maxlength="128" rows="3"></textarea>
          <div class="errors" *ngIf="comment_model.errors">
            <label *ngIf="comment_model.errors.maxlength"><i class="times icon"></i>Comment is too long</label>
          </div>
        </div>
        <button type="submit" class="ui button fluid primary">
          <i class="icon check"></i> Save
        </button>
      </form>
    </div>
  </app-modal>
</ng-container>
