<app-error-message [error]="error"></app-error-message>
<div class="ui loader active text" *ngIf="loadingTeam" i18n>Loading team info...</div>

<div *ngIf="team">
  <div class="ui breadcrumb">
    <a routerLink=".." class="section" i18n>Teams</a>
    <i class="icon right angle divider"></i>
    <div class="section active">{{team.name}}</div>
  </div>

  <div class="ui header">
    <i class="icon users"></i>
    <div class="content">
      {{ team.name }}
      <div class="sub header" *ngIf="team.slogan">{{team.slogan}}</div>
    </div>
  </div>

  <div class="ui segment">
    <div class="ui list horizontal">
      <div class="item">
        <div class="header">ID</div>
        {{ team.id }}
      </div>
      <div class="item">
        <div class="header" i18n>Created At</div>
        {{team.created_at|date:'medium'}}
      </div>
      <div class="item">
        <div class="header" i18n>Updated At</div>
        {{team.modified_at|date:'medium'}}
      </div>
      <div class="item">
        <div class="header" i18n>Status</div>
        <span *ngIf="!team.is_finalised; else alreadyFinalisedText"><i class="icon lock open green"></i> <ng-container i18n>Open</ng-container></span>
        <ng-template #alreadyFinalisedText><i class="icon lock"></i> <ng-container i18n>Finalised</ng-container></ng-template>
      </div>
    </div>
  </div>

  <ng-template #defaultAvatar><i class="icon user circle"></i></ng-template>
  <table class="ui unstackable table">
    <thead><tr><th>#</th><th i18n>User</th><th i18n>Requested At</th><th i18n>Updated At</th><th i18n>Is Invited?</th><th i18n>Is User Agreed?</th><th i18n>Is Creator Agreed?</th></tr></thead>
    <tbody>
    <tr *ngFor="let ass of team.user_associations; index as i">
      <td>{{i+1}}</td>
      <td>
        <app-user-mini-card [user]="ass.user" [enablePopup]="true" [enableAdmin]="true"></app-user-mini-card>
        &nbsp;<i class="icon star yellow" *ngIf="ass.user_id==team.creator_id" title="Creator"></i>
      </td>
      <td>{{ass.created_at|date:'medium'}}</td>
      <td>{{ass.modified_at|date:'medium'}}</td>
      <td>{{ass.is_invited}}</td>
      <td>{{ass.is_user_agreed}}</td>
      <td>{{ass.is_creator_agreed}}</td>
    </tr>
    </tbody>
  </table>

  <div class="ui center aligned grid one column">
    <div class="column">
      <a routerLink="../../team-submissions/{{teamId}}" class="ui button"><i class="icon paper plane outline"></i><ng-container i18n>Submissions</ng-container></a>
    </div>
  </div>
</div>
