<app-error-message [error]="error"></app-error-message>
<div class="ui text loader active" *ngIf="loadingTeam">Loading team info...</div>
<div class="ui text loader active" *ngIf="loadingSubmission">Loading submission info...</div>

<div *ngIf="submission">
  <div class="ui grid stackable two column">
    <div class="column">
      <div class="ui breadcrumb">
        <a class="section" routerLink="../..">Submissions</a>
        <i class="icon right angle divider"></i>
        <a class="section" routerLink="..">{{team.name}}</a>
        <i class="icon right angle divider"></i>
        <div class="active section">Submission {{submission.id}}</div>
      </div>
    </div>
    <div class="column right aligned">
      <a class="ui button mini" routerLink="../../../teams/{{teamId}}"><i class="icon users"></i>Team Info</a>
    </div>
  </div>

  <div class="ui segment">
    <div class="ui list horizontal">
      <div class="item">
        <div class="header">Submitter</div>
        <span *ngIf="submission.submitter.nickname; else nameOnly">{{submission.submitter.nickname}} ({{submission.submitter.name}})</span>
        <ng-template #nameOnly>{{submission.submitter.name}}</ng-template>
      </div>
      <div class="item">
        <div class="header">Submitted At</div>
        {{ submission.created_at | date: 'medium' }} ({{createdFromNow}})
      </div>
    </div>
  </div>

  <h4 class="ui header">
    <i class="icon copy outline"></i>
    Files
  </h4>
  <table class="ui table unstackable">
    <thead><tr><th>#</th><th>ID</th><th>Name</th><th>Size</th><th>MD5 Hash</th><th>Operations</th></tr></thead>
    <tbody>
    <tr *ngFor="let file of submission.files; index as i">
      <td>{{i+1}}</td>
      <td>{{file.id}}</td>
      <td>{{file.requirement.name}}</td>
      <td>{{file.size | size}}</td>
      <td><span [attr.data-tooltip]="file.md5" data-position="bottom center">{{file.md5|slice:0:6}}</span></td>
      <td>
        <a class="ui mini icon button" href="api/submissions/{{submissionId}}/files/{{file.id}}/download"
           title="Download">
          <i class="icon download"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-container *ngIf="task.evaluation_method=='auto_test'">
    <h4 class="ui header">
      <i class="icon terminal"></i>
      Auto Tests
    </h4>

    <ng-container *ngIf="autoTests">
      <div class="ui segment" *ngFor="let test of autoTests">
        <a class="ui right corner red label" (click)="deleteAutoTest(test, btnDeleteAutoTest)" #btnDeleteAutoTest *ngIf="isAdmin">
          <i class="icon trash"></i>
        </a>
        <div class="ui list horizontal">
          <div class="item">
            <div class="header">ID</div>
            {{test.id}}
          </div>
          <div class="item">
            <div class="header">Work ID</div>
            {{test.work_id}}
          </div>
          <div class="item">
            <div class="header">Worker</div>
            <span *ngIf="test.hostname; else noWorker">{{test.hostname}} (PID: {{test.pid}})</span>
            <ng-template #noWorker>(None)</ng-template>
          </div>
          <div class="item">
            <div class="header">State</div>
            <span [ngStyle]="{'color': getStatusColor(test.final_state || test.state)}">
            {{test.final_state || test.state}}
          </span>
          </div>
        </div>

        <div class="ui list horizontal">
          <div class="item">
            <div class="header">Created At</div>
            {{test.created_at | date: 'medium'}}
          </div>
          <div class="item">
            <div class="header">Updated At</div>
            {{test.modified_at | date: 'medium'}}
          </div>
          <div class="item">
            <div class="header">Started At</div>
            <span *ngIf="test.started_at; else noStartTime">{{test.started_at | date: 'medium'}}</span>
            <ng-template #noStartTime>N/A</ng-template>
          </div>
          <div class="item">
            <div class="header">Stopped At</div>
            <span *ngIf="test.stopped_at; else noStopTime">{{test.stopped_at | date: 'medium'}}</span>
            <ng-template #noStopTime>N/A</ng-template>
          </div>
        </div>

        <ng-container *ngIf="(test.final_state || test.state) == 'FAILURE' || (test.final_state || test.state) == 'SUCCESS'">
          <div *ngIf="test.exception_class">
            <div class="ui divider horizontal">Exception</div>
            <p><b>{{test.exception_class}}</b> {{test.exception_message}}</p>
            <pre class="code">{{test.exception_traceback}}</pre>
          </div>
          <div *ngIf="test.result != null">
            <div class="ui divider horizontal">Result</div>
            <pre class="code">{{test.result|json}}</pre>
          </div>
          <div *ngIf="test.output_files.length">
            <div class="ui divider horizontal">Output Files</div>
            <table class="ui table unstackable">
              <thead><tr><th>#</th><th>ID</th><th>Path</th><th>Created At</th><th>Operations</th></tr></thead>
              <tbody>
              <tr *ngFor="let file of test.output_files; index as j">
                <td>{{j+1}}</td>
                <td>{{file.id}}</td>
                <td>{{file.path}}</td>
                <td>{{file.created_at | date: 'medium'}}</td>
                <td>
                  <div class="ui small buttons">
                    <a class="ui button icon" title="View" target="_blank" href="api/submissions/{{submissionId}}/auto-tests/{{test.id}}/output-files/{{file.id}}/raw">
                      <i class="icon eye"></i>
                    </a>
                    <a class="ui button icon" title="Download" href="api/submissions/{{submissionId}}/auto-tests/{{test.id}}/output-files/{{file.id}}/download">
                      <i class="icon download"></i>
                    </a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <button class="ui button" (click)="runAutoTest()" [ngClass]="{'disabled loading': requestingRunAutoTest}" *ngIf="isAdmin">
      <i class="icon play"></i>
      Run Test
    </button>
  </ng-container>

</div>
