<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingSummaries">Loading comment summaries...</div>

<ng-container *ngIf="summaries">
  <div class="ui segment">
    <div class="ui statistics mini">
      <div class="statistic">
        <div class="value"><i class="icon comments"></i> {{totalComments}}</div>
        <div class="label">Comments</div>
      </div>
      <div class="statistic">
        <div class="value"><i class="icon paper plane"></i> {{summaries.length}}</div>
        <div class="label">Submissions w/ Comments</div>
      </div>
    </div>
  </div>

  <div class="ui top attached segment">
    <div class="ui input icon">
      <input type="text" name="searchKey" #inputSearchKey (keyup)="searchKey.next(inputSearchKey.value)" placeholder="Search...">
      <i class="icon search"></i>
    </div>
  </div>
  <table class="ui table unstackable sortable celled attached">
    <thead>
    <tr>
      <th>#</th>
      <th (click)="sortField('submission.id', thSubmissionID)" #thSubmissionID>Submission ID</th>
      <th (click)="sortField('submission.submitter_id', thSubmitter)" #thSubmitter>Submitter</th>
      <th (click)="sortField('total_comments', thTotalComments)" #thTotalComments>Total Comments</th>
      <th (click)="sortField('last_comment.author_id', thLastCommenter)" #thLastCommenter>Last Commenter</th>
      <th (click)="sortField('_last_comment_time', thLastCommentTime)" #thLastCommentTime>Last Comment Time</th>
      <th (click)="sortField('last_comment.content', thLastCommentContent)" #thLastCommentContent>Last Comment Content</th>
      <th>Ops</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let summary of summaryPages.pageItems; index as i">
      <td>{{summaryPages.startRow + i}}</td>
      <td>{{summary.submission.id}}</td>
      <td><app-user-mini-card [user]="summary.submission.submitter" [enablePopup]="true" [enableAdmin]="isAdmin"></app-user-mini-card></td>
      <td>{{summary.total_comments}}</td>
      <td>
        <app-user-mini-card *ngIf="summary.last_comment.author; else system"
                            [user]="summary.last_comment.author" [enableAdmin]="isAdmin" [enablePopup]="true"></app-user-mini-card>
        <ng-template #system>System</ng-template>
      </td>
      <td>{{summary.last_comment.modified_at | date: 'medium'}}</td>
      <td [title]="summary.last_comment.content">
        <ng-container *ngIf="summary.last_comment.content.length <= excerptThreshold; else excerpt">{{summary.last_comment.content}}</ng-container>
        <ng-template #excerpt>{{summary.last_comment.content|slice: 0:excerptThreshold}}...</ng-template>
      </td>
      <td>
        <div class="ui mini buttons">
          <button *ngIf="task.is_team_task; else directSubmissionLink" class="ui button icon" title="Details"
                  (click)="gotoTeamSubmission(summary.submission, btnGotoTeamSubmission)" #btnGotoTeamSubmission>
            <i class="icon ellipsis horizontal"></i>
          </button>
          <ng-template #directSubmissionLink>
            <a routerLink="../user-submissions/{{summary.submission.submitter_id}}/{{summary.submission.id}}" class="ui button icon" title="Details"><i class="icon ellipsis horizontal"></i></a>
          </ng-template>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <app-table-pagination-toolbar class="bottom attached" [pagination]="summaryPages"></app-table-pagination-toolbar>
</ng-container>
