<app-error-message [error]="error"></app-error-message>
<div class="ui loader active text" *ngIf="loadingTeams">Loading teams...</div>

<ng-template #defaultAvatar><i class="icon user circle"></i></ng-template>
<div *ngIf="teams">
  <div class="ui segment">
    <div class="ui grid stackable">
      <div class="eleven wide column">
        <div class="ui statistics mini">
          <div class="statistic">
            <div class="value"><i class="icon users"></i> {{teams.length}}</div>
            <div class="label">Teams</div>
          </div>
          <div class="statistic">
            <div class="value"><i class="icon user"></i> {{totalUsersInTeams}}</div>
            <div class="label">Users in teams</div>
          </div>
          <div class="statistic" *ngIf="teamFreeUsers">
            <div class="value"><i class="icon user outline"></i> {{teamFreeUsers.length}}</div>
            <div class="label">Users not in teams</div>
          </div>
        </div>
      </div>
      <div class="five wide column">
        <div class="ui action input fluid" #inputTeamUserIDWrapper>
          <input type="text" placeholder="Find member by ID/name" #inputTeamUserID (keyup)="bindEnter($event, btnGoToTeamUser)">
          <button class="ui button icon" (click)="goToTeamUser(inputTeamUserID.value, btnGoToTeamUser, inputTeamUserIDWrapper)" #btnGoToTeamUser><i class="icon crosshairs"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segment top attached clearing">
    <div class="ui menu right floated secondary fitted">
      <div class="item">
        <div class="ui basic buttons small">
          <a class="ui button" href="api/tasks/{{taskId}}/export-teams" target="_blank"><i class="icon share"></i> Export</a>
        </div>
      </div>
    </div>
    <div class="ui left floated menu secondary fitted">
      <div class="item">
        <div class="ui input icon">
          <input type="text" name="teamSearchKey" #inputTeamSearch (keyup)="teamSearchKey.next(inputTeamSearch.value)"
                 placeholder="Search Team...">
          <i class="icon search"></i>
        </div>
      </div>
    </div>
  </div>
  <table class="ui table unstackable attached sortable celled">
    <thead>
    <tr>
      <th>#</th>
      <th (click)="sortField('id', thID)" #thID>ID</th>
      <th (click)="sortField('name', thName)" #thName>Name</th>
      <th (click)="sortField('is_finalised', thStatus)" #thStatus>Status</th>
      <th (click)="sortField('creator.name', thCreator)" #thCreator>Creator</th>
      <th (click)="sortField('slogan', thSlogan)" #thSlogan>Slogan</th>
      <th (click)="sortField('total_user_associations', thMembers)" #thMembers>Members</th>
      <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teamPages.pageItems; index as i">
      <td>{{teamPages.startRow + i}}</td>
      <td>{{team.id}}</td>
      <td>{{team.name}}</td>
      <td>
        <i *ngIf="!team.is_finalised; else alreadyFinalised" class="icon lock open green" title="Open"></i>
        <ng-template #alreadyFinalised><i class="icon lock" title="Finalised"></i></ng-template>
      </td>
      <td>
        <app-user-mini-card [user]="team.creator" [enablePopup]="true" [enableAdmin]="true"></app-user-mini-card>
      </td>
      <td class="break-word">{{team.slogan}}</td>
      <td>{{team.total_user_associations}}</td>
      <td>
        <div class="ui buttons mini">
          <a class="ui button icon" title="Details" routerLink="{{team.id}}"><i class="icon ellipsis horizontal"></i></a>
          <a *ngIf="isAdmin" class="ui button icon red" title="Delete" (click)="deleteTeam(team, i, btnDeleteTeam)" #btnDeleteTeam><i class="icon trash"></i></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <app-table-pagination-toolbar class="bottom attached" [pagination]="teamPages"></app-table-pagination-toolbar>

  <div class="ui loader active text inline centered" *ngIf="loadingTeamFreeUsers">Loading users not in teams...</div>
  <div *ngIf="teamFreeUsers && teamFreeUsers.length">
    <h4 class="ui horizontal divider header">
      <i class="icon user outline"></i>
      Users Not In Teams
    </h4>
    <table class="ui table unstackable">
      <thead><tr><th>#</th><th>ID</th><th>Name</th><th>Nickname</th><th>Email</th><th>Operations</th></tr></thead>
      <tbody>
      <tr *ngFor="let user of teamFreeUsers; index as i">
        <td>{{i+1}}</td>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.nickname}}</td>
        <td>{{user.email}}</td>
        <td>
          <div class="ui small buttons">
            <a target="_blank" href="admin/users/{{ user.id }}" class="ui button icon"><i class="icon edit"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
