<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingSubmissions">Loading team submissions...</div>

<div *ngIf="submissions">
  <div class="ui grid stackable two column">
    <div class="column">
      <div class="ui breadcrumb">
        <a routerLink="..">Submissions</a>
        <i class="icon right angle divider"></i>
        <div class="section active">{{team.name}}</div>
      </div>
    </div>
    <div class="column right aligned">
      <a class="ui button mini" routerLink="../../teams/{{teamId}}">Team Info</a>
    </div>
  </div>

  <ng-template #defaultAvatar><i class="icon user circle"></i></ng-template>
  <table class="ui table unstackable">
    <thead><tr><th>#</th><th>ID</th><th>Submitter</th><th>Submitted At</th><th>Operations</th></tr></thead>
    <tbody>
    <tr *ngFor="let sub of submissions; index as i" [ngClass]="{'submission-cleared': sub.is_cleared}">
      <td>{{ i + 1 }}</td>
      <td>{{sub.id}}</td>
      <td>
        <a href="admin/users/{{sub.submitter_id}}" target="_blank">
          <img src="{{sub.submitter.avatar}}?size=64" *ngIf="sub.submitter.avatar; else defaultAvatar" class="ui image avatar">
          <span *ngIf="sub.submitter.nickname; else nameOnly">{{sub.submitter.nickname}} ({{sub.submitter.name}})</span>
          <ng-template #nameOnly>{{sub.submitter.name}}</ng-template>
        </a>
      </td>
      <td>{{sub.created_at | date: 'medium'}}</td>
      <td>
        <a class="ui button mini icon" routerLink="{{sub.id}}" title="Details" *ngIf="!sub.is_cleared"><i class="icon ellipsis horizontal"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

