<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingSummaries">Loading submission summaries...</div>

<div *ngIf="userSummaries">
  <ng-template #defaultAvatar><i class="icon user circle"></i></ng-template>

  <div class="ui segment">
    <div class="ui grid stackable">
      <div class="column eleven wide">
        <div class="ui statistics mini">
          <div class="statistic">
            <div class="value"><i class="icon paper plane"></i> {{totalSubmissions}}</div>
            <div class="label">Submissions</div>
          </div>
          <div class="statistic">
            <div class="value"><i class="icon user"></i> {{totalSubmittedUsers}}</div>
            <div class="label">Submitted Users</div>
          </div>
        </div>
      </div>
      <div class="column five wide">
        <div class="ui fluid action input" #inputSubmissionIDWrapper>
          <input type="text" placeholder="Find submission by ID" #inputSubmissionID (keyup)="bindEnter($event, btnGoToSubmission)">
          <button class="ui icon button" (click)="goToSubmission(inputSubmissionID.value, btnGoToSubmission, inputSubmissionIDWrapper)" #btnGoToSubmission>
            <i class="icon crosshairs"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <table class="ui table unstackable">
    <thead><tr><th>#</th><th>User</th><th>Total Submissions</th><th>Last Submission Time</th><th>Operations</th></tr></thead>
    <tbody>
    <tr *ngFor="let summary of userSummaries; index as i">
      <td>{{i+1}}</td>
      <td>
        <a href="admin/users/{{summary.user.id}}" target="_blank">
          <img src="{{summary.user.avatar}}?size=64" *ngIf="summary.user.avatar; else defaultAvatar" class="ui image avatar">
          <span *ngIf="summary.user.nickname; else nameOnly">{{summary.user.nickname}} ({{summary.user.name}})</span>
          <ng-template #nameOnly>{{summary.user.name}}</ng-template>
        </a>
      </td>
      <td>{{summary.total_submissions}}</td>
      <td>{{summary.last_submit_time | date:'medium'}}</td>
      <td>
        <a routerLink="{{summary.user.id}}" class="ui button icon mini" title="Submissions"><i class="icon search"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
