<app-error-message [error]="error"></app-error-message>
<div class="ui loader text active" *ngIf="loadingSummaries">Loading submission summaries...</div>

<div *ngIf="userSummaries">
  <ng-template #defaultAvatar><i class="icon user circle"></i></ng-template>

  <div class="ui segment">
    <div class="ui grid stackable">
      <div class="column eleven wide">
        <div class="ui statistics mini">
          <div class="statistic">
            <div class="value"><i class="icon paper plane"></i> {{totalSubmissions}}</div>
            <div class="label">Submissions</div>
          </div>
          <div class="statistic">
            <div class="value"><i class="icon user"></i> {{userSummaries.length}}</div>
            <div class="label">Submitted Users</div>
          </div>
        </div>
      </div>
      <div class="column five wide">
        <div class="ui fluid action input" #inputSubmissionIDWrapper>
          <input type="text" placeholder="Find submission by ID" #inputSubmissionID (keyup)="bindEnter($event, btnGoToSubmission)">
          <button class="ui icon button" (click)="goToSubmission(inputSubmissionID.value, btnGoToSubmission, inputSubmissionIDWrapper)" #btnGoToSubmission>
            <i class="icon crosshairs"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui top attached clearing segment">
    <div class="ui right floated menu secondary fitted">
      <div class="item">
        <div class="ui basic buttons small">
          <a class="ui button" href="api/tasks/{{taskId}}/export-results" target="_blank"><i class="icon share"></i> Export</a>
        </div>
      </div>
    </div>
    <div class="ui left floated menu secondary fitted">
      <div class="item">
        <div class="ui input icon">
          <input type="text" name="userSearchKey" #inputUserSearch (keyup)="userSearchKey.next(inputUserSearch.value)"
                 placeholder="Search User...">
          <i class="icon search"></i>
        </div>
      </div>
    </div>
  </div>
  <table class="ui table unstackable sortable celled attached">
    <thead>
    <tr>
      <th>#</th>
      <th (click)="sortField('user.name', thUser)" #thUser>User</th>
      <th (click)="sortField('total_submissions', thTotalSubmissions)" #thTotalSubmissions>Attempts</th>
      <th (click)="sortField('_first_submit_time', thFirstSubmitTime)" #thFirstSubmitTime>First Attempt</th>
      <th (click)="sortField('_last_submit_time', thLastSubmitTime)" #thLastSubmitTime>Last Attempt</th>
      <th *ngFor="let config of task.auto_test_configs"
          (click)="sortField('_auto_test_conclusion_'+config.id, thAutoTestConfig)" #thAutoTestConfig>
        {{config.name}} <i class="ui icon red lock" *ngIf="config.is_private"></i>
      </th>
      <th>Ops</th></tr>
    </thead>
    <tbody>
    <tr *ngFor="let summary of userSummaryPages.pageItems; index as i">
      <td>{{userSummaryPages.startRow + i}}</td>
      <td>
        <a href="admin/users/{{summary.user.id}}" target="_blank">
          <img src="{{summary.user.avatar}}?size=64" *ngIf="summary.user.avatar; else defaultAvatar" class="ui image avatar">
          <span *ngIf="summary.user.nickname; else nameOnly">{{summary.user.nickname}} ({{summary.user.name}})</span>
          <ng-template #nameOnly>{{summary.user.name}}</ng-template>
        </a>
      </td>
      <td>{{summary.total_submissions}}</td>
      <td>{{summary.first_submit_time | date:'short'}}</td>
      <td>{{summary.last_submit_time | date:'short'}}</td>
      <td *ngFor="let config of task.auto_test_configs">
        <ng-container *ngIf="summary['_auto_test_conclusion_'+config.id] != null">
          <ng-container *ngIf="config.result_conclusion_type != 'json'; else jsonConclusion">
            {{summary['_auto_test_conclusion_'+config.id]}}
          </ng-container>
          <ng-template #jsonConclusion>{{summary['_auto_test_conclusion_'+config.id]|json}}</ng-template>
        </ng-container>
      </td>
      <td>
        <a routerLink="{{summary.user.id}}" class="ui button icon mini" title="Submissions"><i class="icon search"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <app-table-pagination-toolbar class="bottom attached" [pagination]="userSummaryPages"></app-table-pagination-toolbar>

  <app-run-auto-test-card [task]="task" (error)="error=$event"></app-run-auto-test-card>
</div>
